<a href="https://colab.research.google.com/github/w2k31984/Python-for-Data-Science/blob/master/Python_para_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![openinColab.png]()

#Python para Data Science.
Notebook para el curso de python para Data Science publicado en la plataforma de [Alura Latam](https://app.aluracursos.com/course/python-data-science-primeros-pasos).

Vamos a ejecutar nuestro primer comando utilizando la primera funcion llamada: [print](https://docs.python.org/3/library/functions.html#print)().

In [ ]:
#Creamos una variable donde colocaremos el mensaje luego con la funcion print(colocaremos la varible que contiene nuestro mensaje)
saludo = "Hola Mundo!"
print(saludo)

Hola Mundo!

In [ ]:
# Precionamos shift+enter para ejecutar la celda.
15

15

In [ ]:
#Unicamente colocamos el mensaje dentro de la funcion print.
print("Mi nombre es Cristian Parada, tengo 40 años de edad y soy un apasionado de la ciencia de datos!")

Mi nombre es Cristian Parada, tengo 40 años de edad y soy un apasionado de la ciencia de datos!

In [ ]:
#Imprime la frase "Escuela de Datos de Alura"
frase= "Escuela de Datos de Alura"
print(frase)

Escuela de Datos de Alura

In [ ]:
#Imprime tu nombre y tu apellido
nombre = "Cristian"
apellido = "Parada"
print(nombre, apellido)

Cristian Parada

In [ ]:
#Imprimir letra por letra mi nombre
nombre = "Cristian"

for letra in nombre: #Creando un bucle for para poder sacar cada una de las letras de la cadena en la variable nombre.
    print(letra)

C
r
i
s
t
i
a
n

In [ ]:
#Imprime tu fecha de nacimiento en formato día mes año.
dia = 8
mes = 9
año = 1984
print(f"Mi fecha de cumpleaños es: {dia:02d} {mes:02d} {año}") #Utilizo la conversion para que salga la fecha con el formato deseado.

Mi fecha de cumpleaños es: 08 09 1984

In [ ]:
#Imprime, en una sola instrucción print, el año actual en el que estás realizando este curso.
año_actual = 2025
print(f"El año actual del curso es:", año_actual) # utilizamos"f" antes de las comillas para indicar que se trata de una cadena formateada

El año actual del curso es: 2025

# Manipulando los datos
Vamos aprender sobre las variables en Python, como declararlas y utilizarlas ademas de conocer otros comandos de este lenguaje.

# Variables
En Data Science trabajamos con varios tipos de datos, e informaciones entonces es escencial conocer como trabajar con variables.
Las variables en python se crean cuando atribuimos un valor a ellas.
Para ello colocamos el nombre de la variable y el signo = y el valor que queremos:
**nombre_variable= valor de la variable.**

In [ ]:
5

5

In [ ]:
id(5) #Identificacion de la direccion de memoria

10750984

In [ ]:
edad = 5

In [ ]:
#Imprimimos ambas variables para ver la direccion de memoria es la misma al imprimirse.
print(id(edad))
print(id(5))

10750984
10750984

In [ ]:
numerocinco = 5
print(id(numerocinco)) #validamos con id para ver que es el mismo espacio de memoria que utiliza.

10750984

In [ ]:
nombre = "Cristian"
id(nombre)
print(id(nombre))

140493270418992

# Comentarios

In [ ]:
# Este es un comentario de una línea
print(10) # Podemos colocar otro comentario en una línea después de un código

10

In [ ]:
'''
Este es un comentario
de varias líneas.
'''

'\nEste es un comentario\nde varias líneas.\n'

# Tipos de variables
Cada variable contiene una clase especifica con respecto al tipo de objeto al cual esta hace referencia de acuerdo al tipo de dato que le sea atribuido a la variable.
Para conocer la clase de cada tipo de elemento utilizamos la funcion [type](https://docs.python.org/3/library/functions.html#type)().

In [ ]:
edad = 5

In [ ]:
type(edad)

int

In [ ]:
promedio = 9.5
type(promedio)

float

In [ ]:
nombreCompleto = "Cristian Parada"
type(nombreCompleto)

str

In [ ]:
valor = True
type(valor)

bool

#Ejemplo practico
'''
En un conjunto de datos escolares podemos tener varios tipos de informaciones. Supongamos que tenemos acceso a la ficha de datos de un alumno, ¿como transformamos este nombre en variables de Python?

FICHA:


*   Nombre del Alumno: Jose David Parada Mendoza
*   Edad: 13 años
*   Promedio del semestre: 9,25
*   Situacion de Aprobacion: Verdadera(Aprobado)

In [ ]:
#Trasnformando a variables de Python
nombreAlumno = "Jose David Parada Mendoza"
edadAlumno = 13
promedioSemestre = 9.25
aprobado =  True

print(nombreAlumno,edadAlumno,promedioSemestre,aprobado)

#Viendo el tipo de variable forma 1
print(type(nombreAlumno))
print(type(edadAlumno))
print(type(promedioSemestre))
print(type(aprobado))

#Viendo el tipo de variable forma 2
print(type(nombreAlumno),type(edadAlumno),type(promedioSemestre),type(aprobado))

Jose David Parada Mendoza 13 9.25 True
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

# Variables Numericas
Entre los tipos de datos numericos vamos a enfocarnos en los tipos entero y float
Tenemos una tabla de informacion sobre los diversos cargos, cantidad de personas empleadas y el salario correspondiente:


![image.png]()

Se necesita encontrar los siguientes datos:


*   Cantidad total de empleados
*   La diferencia entre el salario mas bajo y mas alto.
*   El promedio ponderado de los salarios de los empleados del centro educativo.

In [ ]:
#Obteniendo variables para calculos
c_vigilantes = 5
salarioVigilante = 300
c_docentes = 16
salarioDocente = 500
c_coordinadores = 2
salarioCoordinador = 600

In [ ]:
#Calculando cantidad de empleados
cantidadEmpleados = c_vigilantes + c_docentes + c_coordinadores
print(f"La cantidad total de empleados es: {cantidadEmpleados} empleados.")

La cantidad total de empleados es: 23 empleados.

In [ ]:
#Calculando la diferencia de salarios.
diferencia_salarios = salarioCoordinador - salarioVigilante
print(f"La diferencia de salarios entre el Coordinador y vigilante es de: {diferencia_salarios} dolares.")

La diferencia de salarios entre el Coordinador y vigilante es de: 300 dolares.

In [ ]:
#Calculando el salario promedio ponderado
salarioPromedio = (c_vigilantes*salarioVigilante + c_docentes*salarioDocente + c_coordinadores*salarioCoordinador)/cantidadEmpleados
print(f"El salario promedio ponderado de los empleados es de: {round(salarioPromedio,2)} dolares.") #Utilizamos la funcion round para redondear el resultado y colocamos 2 porque solo queremos 2 digitos la cifra decimal
type(salarioPromedio)

El salario promedio ponderado de los empleados es de: 465.22 dolares.

float

#Cadenas de texto o strings
Hacen referencia a un conjunto de caracteres de un texto.
Podremos crear cadenas de texto cuando atribuimos un dato a una variable entre comillas simples (' ') o comillas dobles(" ")

In [ ]:
texto = "Alura"
type(texto)

str

Las variables de texto o cadena son objetos que poseen metodos que nos ayudan a formatear dichas cadenas. Los metodos permiten difinir un objeto de acuerdo con la siguiente estructura:

objeto.metodo()

Existen metodos que no necesitan de (), siempre es una buena practica verificar la documentacion para cada caso.

#Situacion
Recibimos una variable con el nombre de un docente para añadir a los registros del centro educativo, sin embargo antes debemos darle un tratamiento al texto antes de insertar al sistema.

In [ ]:
texto = 'Micaela de Sanyos'

#Ver en que espacio de memoria quedo almacenado
id(texto)

133934518334560

El objetivo final es que quede como:
'MICAELA DE SANTOS'

In [ ]:
#Utilizamos la funcion str.upper(), la cual convierte minusculas en mayusculas
texto.upper()

'MICAELA DE SANYOS'

In [ ]:
#Utilizamos la funcion str.lower(), la cual convierte el texto en minusculas.
texto.lower()

'micaela de sanyos'

In [ ]:
#Utilizamos la funcion str.strip(), para eliminar espacios en blanco al inicio y final de un string
texto.strip()

'Micaela de Sanyos'

In [ ]:
#Utilizamos la funcion str.replace(antiguo,nuevo) sustituye las ocurrencias del texto "antiguo", en string por el "nuevo"
texto.replace('y','t')

'Micaela de Santos'

# Observaciones


1.   Los metodos devuelven **transformaciones**, no son ejecutados directamente sobre la variable donde esta almacenado el texto.
2.   Adicionalmente, podemos acumular la ejecucion de los metodos.

#Captura de Datos
Lo hacemos a partir de la funcion  [input](https://docs.python.org/3/library/functions.html#input)()
Para capturar debemos atribuir el resultado de esta funcion a una variable:

In [ ]:
nombre = input("Ingrese el nombre del alumno: ")
type(nombre)

Ingrese el nombre del alumno: Alejandra Gonzalez

str

La salida de este comando siempre sera una string. Esto quiere decir que aunque capturemos un valor de variable numerica, este sera de tipo cadena o string.
Entonces sera necesario convertir el resultado cuando no se desea utilizar el resultado de tipo string
Existen funciones para la conversion de valores


*   Enteros int(dato para conversion)
*   Coma flotante float(dato para conversion)
*   String str(dato para conversion)
*   Booleano bool(dato para conversion)

In [ ]:
ano_admision = input("Ingrese el año de admision del alumno: ")
type(ano_admision)

Ingrese el año de admision del alumno: 2024

str

In [ ]:
ano_salida = input("Ingrese el año de salida del alumno: ")
type(ano_salida)

Ingrese el año de salida del alumno: 2026

str

In [ ]:
#modificamos la entrada de datos o input con int para capturar el dato y sea de tipo numerico.
ano_admision = int(input("Ingrese el año de admision del alumno: "))
type(ano_admision)

Ingrese el año de admision del alumno: 2023

int

In [ ]:
#Nota de admision
nota_admision = float(input("Ingrese la nota de admision del alumno: "))
type(nota_admision)

Ingrese la nota de admision del alumno: 8.7

float

In [ ]:
#lo mismo hacemos con el año de salida
ano_salida = int(input("Ingrese el año de salida del alumno: "))
type(ano_salida)

Ingrese el año de salida del alumno: 2026

int

Para mejorar la presentacion del resultado utilizamos la funcion format.
la mas sencilla de utilizar es la f solamente.

In [ ]:
print(f'El año de admision fue: {ano_admision} \nLa nota de admision fue: {nota_admision}\n')

El año de admision fue: 2023
La nota de admision fue: 8.7

In [ ]:
#Ejercicios:
nombre = "Ana María"
edad = 17
print(f"El nombre de la alumna es: {nombre}\nSu edad es: {edad} años.")

El nombre de la alumna es: Ana María
Su edad es: 17 años.

In [ ]:
nombre_alumno = 'Penélope Camacho'
print('Nombre del alumno: %s' %(nombre_alumno))

Nombre del alumno: Penélope Camacho

In [ ]:
nombre_alumno = 'Penélope Camacho'
edad_alumno = 11
media_alumno = 9.95
print('Nombre del alumno es %s, tiene %d años y su media es %f.' %(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Penélope Camacho, tiene 11 años y su media es 9.950000.

In [ ]:
print('Nombre del alumno es %s \nTiene %d años\nSu media es %.2f.' %(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Penélope Camacho
Tiene 11 años
Su media es 9.95.

In [ ]:
x = True
print("Valor de x: %s" % str(x))

Valor de x: True

También es posible utilizar el método .format() para formatear cadenas. Es más flexible y permite pasar las variables directamente dentro de la cadena, sin necesidad de operadores %. Los marcadores son simplemente {}. Por ejemplo:

In [ ]:
nombre_alumno = 'Penélope Camacho'
print('Nombre del alumno: {}'.format(nombre_alumno))

Nombre del alumno: Penélope Camacho

In [ ]:
nombre_alumno = 'Fabricio Daniel'
edad_alumno = 15
media_alumno = 9.95
print('Nombre del alumno es {} \nTiene {} años \nSu media es {}.' .format(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Fabricio Daniel
Tiene 15 años
Su media es 9.95.

In [ ]:
# /n es el carácter de tabulación y se utiliza para agregar un espacio de tabulación en el texto. Ejemplo:
print("Estudiar es un esfuerzo constante,\nEs como cultivar una planta,\nNecesitamos dedicación y paciencia,\nPara ver madurar el fruto.")

Estudiar es un esfuerzo constante,
Es como cultivar una planta,
Necesitamos dedicación y paciencia,
Para ver madurar el fruto.

In [ ]:
#\t es el carácter de tabulación y se utiliza para agregar un espacio de tabulación en el texto. Ejemplo:
print('Cantidad\tCalidad\n5 muestras\tAlta\n3 muestras\tBaja')

Cantidad	Calidad
5 muestras	Alta
3 muestras	Baja

\\ se usa para imprimir una sola barra invertida. Si no se utiliza una doble barra invertida, el código podría generar un error o un resultado inesperado, ya que Python considera \ como un carácter especial. Usamos esta sintaxis para garantizar que no ocurran errores. Ejemplo:

In [ ]:
print("Ruta del archivo: C:\\archivos\\documento.csv")

Ruta del archivo: C:\archivos\documento.csv

\" se utiliza para imprimir comillas dobles cuando estamos trabajando con una cadena creada con comillas dobles " en el interior. Sin embargo, esto no es necesario si la cadena se crea con comillas simples '. Ejemplo:

In [ ]:
print("Una vez oí: \"Los frutos del conocimiento son los más dulces y duraderos de todos.\"")

Una vez oí: "Los frutos del conocimiento son los más dulces y duraderos de todos."

\' se utiliza para imprimir comillas simples cuando estamos trabajando con una cadena creada con comillas simples '. Si la cadena se crea con comillas dobles ", esto no es necesario. Ejemplo:

In [ ]:
print('Mi profesora una vez dijo: \'Estudiar es la clave del éxito.\'')

Mi profesora una vez dijo: 'Estudiar es la clave del éxito.'

Vamos a practicar el uso de varios tipos de variables y la función input a través de algunas actividades. Resuelve los problemas propuestos en código.

Recopilación y muestra de datos

1 - Crea un programa que solicite al usuario que escriba su nombre y luego imprima "Hola, [nombre]."

2 - Crea un programa que solicite al usuario que escriba su nombre y edad, y luego imprima "Hola, [nombre], tienes [edad] años."

3 - Crea un programa que solicite al usuario que escriba su nombre, edad y altura en metros, y luego imprima "Hola, [nombre], tienes [edad] años y mides [altura] metros."

Calculadora con operadores

4 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la suma de ambos valores.

5 - Crea un programa que solicite tres valores numéricos al usuario y luego imprima la suma de los tres valores.

6 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la resta del primero menos el segundo valor.

7 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la multiplicación de los dos valores.

8 - Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y realice la división entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.

9 - Crea un programa que solicite dos valores numéricos, un operador y una potencia, y realice la exponenciación entre estos dos valores.

10 - Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y realice la división entera entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.

11 - Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y devuelva el resto de la división entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.

12 - Crea un código que solicite las 3 notas de un estudiante e imprima el promedio de las notas.

13 - Crea un código que calcule e imprima el promedio ponderado de los números 5, 12, 20 y 15 con pesos respectivamente iguales a 1, 2, 3 y 4.

Editando textos

14 - Crea una variable llamada "frase" y asígnale una cadena de texto de tu elección. Luego, imprime la frase en pantalla.

15 - Crea un código que solicite una frase y luego imprima la frase en pantalla.

16 - Crea un código que solicite una frase al usuario y luego imprima la misma frase ingresada pero en mayúsculas.

17 - Crea un código que solicite una frase al usuario y luego imprima la misma frase ingresada pero en minúsculas.

18 - Crea una variable llamada "frase" y asígnale una cadena de texto de tu elección. Luego, imprime la frase sin espacios en blanco al principio y al final.

19 - Crea un código que solicite una frase al usuario y luego imprima la misma frase sin espacios en blanco al principio y al final.

20 - Crea un código que solicite una frase al usuario y luego imprima la misma frase sin espacios en blanco al principio y al final, además de convertirla a minúsculas.

21 - Crea un código que solicite una frase al usuario y luego imprima la misma frase con todas las vocales "e" reemplazadas por la letra "f".

22 - Crea un código que solicite una frase al usuario y luego imprima la misma frase con todas las vocales "a" reemplazadas por el carácter "@".

23 - Crea un código que solicite una frase al usuario y luego imprima la misma frase con todas las consonantes "s" reemplazadas por el carácter "$".

In [ ]:
#1 - Crea un programa que solicite al usuario que escriba su nombre y luego imprima "Hola, [nombre]."
nombre = input("Ingrese su nombre: ")
print(f"Hola, {nombre}.")

Ingrese su nombre: Cristian Parada
Hola, Cristian Parada.

In [ ]:
#2 - Crea un programa que solicite al usuario que escriba su nombre y edad, y luego imprima "Hola, [nombre], tienes [edad] años."
nombre = input("Ingrese su nombre: ")
edad = input("Ingrese su edad: ")
print(f"Hola, {nombre}\nTienes: {edad} años.")

Ingrese su nombre: Cristian Parada
Ingrese su edad: 41
Hola, Cristian Parada
Tienes: 41 años.

In [ ]:
#3 - Crea un programa que solicite al usuario que escriba su nombre, edad y altura en metros, y luego imprima "Hola, [nombre], tienes [edad] años y mides [altura] metros."
nombre = input("Ingrese su nombre: ")
edad = input("Ingrese su edad: ")
altura = input("Ingrese su altura: ")
print(f"Hola, {nombre}\nTienes: {edad} años\nY mides: {altura} metros.")

Ingrese su nombre: Cristian Parada
Ingrese su edad: 41
Ingrese su altura: 1.70
Hola, Cristian Parada
Tienes: 41 años
Y mides: 1.70 metros.

#Calculadora con operadores

In [ ]:
#4 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la suma de ambos valores.
numero1 = int(input("Ingrese el primer numero: "))
numero2 = int(input("Ingrese el segundo numero: "))
suma = numero1 + numero2
print(f"La suma de los numeros es: {suma}")

Ingrese el primer numero: 20
Ingrese el segundo numero: 10
La suma de los numeros es: 30

In [ ]:
#5 - Crea un programa que solicite tres valores numéricos al usuario y luego imprima la suma de los tres valores.
numero1 = int(input("Ingrese el primer numero: "))
numero2 = int(input("Ingrese el segundo numero: "))
numero3 = int(input("Ingrese el tercer numero: "))
suma = numero1 + numero2 + numero3
print(f"El resultado de la suma es: {suma}")

Ingrese el primer numero: 3
Ingrese el segundo numero: 3
Ingrese el tercer numero: 3
El resultado de la suma es: 9

In [ ]:
#6 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la resta del primero menos el segundo valor.
numero1 = int(input("Ingrese el primer numero: "))
numero2 = int(input("Ingrese el segundo numero: "))
resta = numero1 - numero2
print(f"La resta de los numeros es: {resta}")

Ingrese el primer numero: 15
Ingrese el segundo numero: 3
La resta de los numeros es: 12

In [ ]:
#7 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la multiplicación de los dos valores.
numero1 = int(input("Ingrese el primer numero: "))
numero2 = int(input("Ingrese el segundo numero: "))
multiplicacion = numero1 * numero2
print(f"La multiplicacion de los numeros es: {multiplicacion}")

Ingrese el primer numero: 2
Ingrese el segundo numero: 5
La multiplicacion de los numeros es: 10

In [ ]:
#8 - Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y realice la división entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.
numero1 = int(input("Ingrese el primer numero: ")) #Numerador
numero2 = int(input("Ingrese el segundo numero: ")) #Denominador
division = numero1 / numero2
if numero2 == 0: #Condicion que el numero 2 no puede ser cero.
  print("No se puede dividir entre 0")
  numero2 = int(input("Ingrese el segundo numero: "))
else:
  print(f"La division de los numeros es: {round(division)}")

Ingrese el primer numero: 4
Ingrese el segundo numero: 0
No se puede dividir entre 0
Ingrese el segundo numero: 3

In [ ]:
#9 - Crea un programa que solicite dos valores numéricos, un operador y una potencia, y realice la exponenciación entre estos dos valores.
numero1 = int(input("Ingrese el primer numero: "))
numero2 = int(input("Ingrese el segundo numero: "))
potencia = numero1 ** numero2
print(f"La potencia de los numeros es: {potencia}")

Ingrese el primer numero: 3
Ingrese el segundo numero: 4
La potencia de los numeros es: 81

In [ ]:
#10 - Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y realice la división entera entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.
numero1 = int(input("Ingrese el primer numero: ")) #Numerador
numero2 = int(input("Ingrese el segundo numero: ")) #Denominador
division = numero1 // numero2
if numero2 == 0: #Condicion que el numero 2 no puede ser cero.
  print("No se puede dividir entre 0")
else:
  print(f"El resultado de la division es: {division}")

Ingrese el primer numero: 9
Ingrese el segundo numero: 2
El resultado de la division es: 4

In [ ]:
#11 - Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y devuelva el resto de la división entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.
numero1 = float(input("Ingrese el numerador: "))
numero2 = float(input("Ingrese el denominador: "))
division = numero1 % numero2
if numero2 == 0:
  print("No se puede dividir entre 0")
  numero2 = float(input("Ingrese el denominador: "))
else:
  print(f"el resultdo de la division es: {division}")

Ingrese el numerador: 5
Ingrese el denominador: 3
el resultdo de la division es: 2.0

In [ ]:
#12 - Crea un código que solicite las 3 notas de un estudiante e imprima el promedio de las notas.
nota1 = float(input("Ingrese la primera nota: "))
nota2 = float(input("Ingrese la segunda nota: "))
nota3 = float(input("Ingrese la tercera nota: "))
promedio = (nota1 + nota2 + nota3)/3
print(f"El promedio de las notas es: {round(promedio,2)}")

Ingrese la primera nota: 6.7
Ingrese la segunda nota: 8.0
Ingrese la tercera nota: 9.4
El promedio de las notas es: 8.03

In [ ]:
#13 - Crea un código que calcule e imprima el promedio ponderado de los números 5, 12, 20 y 15 con pesos respectivamente iguales a 1, 2, 3 y 4.
# Definir los números y sus pesos
numeros = [5, 12, 20, 15]
pesos = [1, 2, 3, 4]

# Calcular el promedio ponderado
suma_ponderada = sum(n * p for n, p in zip(numeros, pesos))  # Suma de cada número multiplicado por su peso
suma_pesos = sum(pesos)  # Suma total de los pesos
promedio_ponderado = suma_ponderada / suma_pesos  # Dividir la suma ponderada entre la suma de los pesos

# Imprimir el resultado
print(f"El promedio ponderado es: {promedio_ponderado}")

El promedio ponderado es: 14.9

#Editando textos

In [ ]:
#14 - Crea una variable llamada "frase" y asígnale una cadena de texto de tu elección. Luego, imprime la frase en pantalla.
texto = "Frase"
print(texto.upper())

FRASE

In [ ]:
#15 - Crea un código que solicite una frase y luego imprima la frase en pantalla.
frase = input ("Ingrese una frase: ")
print(f"La frase es: {frase}")

Ingrese una frase: Ni chicha ni limonada
La frase es: Ni chicha ni limonada

In [ ]:
#16 - Crea un código que solicite una frase al usuario y luego imprima la misma frase ingresada pero en mayúsculas.
frase = input ("Ingrese una frase: ")
print(f"La frase en mayusculas es: {frase.upper()}")

Ingrese una frase: Hola amiguitos!
La frase en mayusculas es: HOLA AMIGUITOS!

In [ ]:
#17 - Crea un código que solicite una frase al usuario y luego imprima la misma frase ingresada pero en minúsculas.
frase = input ("Ingrese una frase: ")
print(f"La frase en minusculas es: {frase.lower()}")

Ingrese una frase: Hola como estan?
La frase en minusculas es: hola como estan?

In [ ]:
#18-19 - Crea una variable llamada "frase" y asígnale una cadena de texto de tu elección. Luego, imprime la frase sin espacios en blanco al principio y al final.
# Crear la variable "frase" y asignarle una cadena de texto
frase = input("Ingresa la frase que deseas")

# Imprimir la frase sin espacios en blanco al principio y al final
print(f"La frase ingresada es:\n{frase.strip()}")

Ingresa la frase que deseasHola! ¿Como estan?
La frase ingresada es:
Hola! ¿Como estan?

In [ ]:
#20 - Crea un código que solicite una frase al usuario y luego imprima la misma frase sin espacios en blanco al principio y al final, además de convertirla a minúsculas.
frase = input('Escribe una frase: ')
print(frase.strip().lower())

Escribe una frase: SE TU MISMO
se tu mismo

In [ ]:
#21 - Crea un código que solicite una frase al usuario y luego imprima la misma frase con todas las vocales "e" reemplazadas por la letra "f".
frase = input('Escribe una frase: ')
print(frase.lower().replace('e','f'))

Escribe una frase: FELICIDAD DE FELIX
fflicidad df fflix

In [ ]:
#22 - Crea un código que solicite una frase al usuario y luego imprima la misma frase con todas las vocales "a" reemplazadas por el carácter "@".
frase = input('Escribe una frase: ')
print(frase.lower().replace('a',chr(64)))

Escribe una frase: FELIZ DIA
feliz di@

In [ ]:
#23 - Crea un código que solicite una frase al usuario y luego imprima la misma frase con todas las consonantes "s" reemplazadas por el carácter "$".
frase = input('Escribe una frase: ')
print(frase.lower().replace('s',chr(36)))

Escribe una frase: SIEMPRE AMIGOS!
$iempre amigo$!

#Estructuras condicionales

In [ ]:
nombre_alumno = 'Fabricio Daniel'
calificacion_ingreso = 9.5
ano_ingreso= 2023
print('Nombre del alumno es {} \nCalificacion de Ingreso: {} \nEl año de ingreso es: {}.' .format(nombre_alumno, calificacion_ingreso, ano_ingreso))

Nombre del alumno es Fabricio Daniel
Calificacion de Ingreso: 9.5
El año de ingreso es: 2023.

* La calificacion de aprobacion es entre 7 y 10 == nota de aprobacion >=7
* La calificacion de reprobado es menor de 7 == nota de reprobacion < 7

#Condicional IF y ELSE

In [ ]:
#Realizando el ejercicio:
calificacion_ingreso= float(input("Ingrese la calificacion del alumno:"))
if calificacion_ingreso >= 7:
  print("El alumno ha aprobado")
else:
  print("El alumno ha reprobado")

Ingrese la calificacion del alumno:6.9
El alumno ha reprobado

In [ ]:
#Ejemplo de operadores relacionales
edad_maria = int(input('Ingrese la edad de María: '))
edad_beatriz = int(input('Ingrese la edad de Beatriz: '))

if edad_maria > edad_beatriz:
  print('María es mayor que Beatriz.')

Ingrese la edad de María: 20
Ingrese la edad de Beatriz: 18
María es mayor que Beatriz.

In [ ]:
#Utilizando >= que
empleados_empresa_1 = int(input('Ingrese la cantidad de empleados de la empresa 1: '))
empleados_empresa_2 = int(input('Ingrese la cantidad de empleados de la empresa 2: '))

if empleados_empresa_1 >= empleados_empresa_2:
  print('La empresa 1 tiene una cantidad de empleados mayor o igual a la empresa 2.')

Ingrese la cantidad de empleados de la empresa 1: 640
Ingrese la cantidad de empleados de la empresa 2: 20
La empresa 1 tiene una cantidad de empleados mayor o igual a la empresa 2.

In [ ]:
#igual
libro_1 = input('Ingrese el título del 1° libro: ')
libro_2 = input('Ingrese el título del 2° libro: ')

if libro_1 == libro_2:
  print('Los libros tienen el mismo título.')
else :
  print ('Los libros tienen títulos diferentes.')

Ingrese el título del 1° libro: La llorona
Ingrese el título del 2° libro: La zegua
Los libros tienen títulos diferentes.

In [ ]:
#Diferente de !=
libro_1 = input('Ingrese el título del 1° libro: ')
libro_2 = input('Ingrese el título del 2° libro: ')

if libro_1 != libro_2:
  print('Los libros tienen títulos diferentes.')
else:
  print('Los libros tienen el mismo título.')

Ingrese el título del 1° libro: Hernan Cortez
Ingrese el título del 2° libro: Pedro Alvarado
Los libros tienen títulos diferentes.

#Condicion ELIF

In [ ]:
calificacion = float(input('Ingrese la calificación del alumno: '))
if calificacion >= 9:
  print('Excelente')
elif calificacion >= 7:
  print('Buena')
elif calificacion >= 5:
  print('Regular')
else:
  print('Mala')

Ingrese la calificación del alumno: 6.8
Regular

#Operadores logicos integrados(AND, OR, NOT)

In [ ]:
v = True
f = False
if v and f:
  print('La condicion es verdadera')
else:
  print('La condicion es falsa')

La condicion es falsa

In [ ]:
if f or f:
  print('La condicion es verdadera')
else:
  print('La condicion es falsa')

La condicion es falsa

In [ ]:
if  not f:
  print('La condicion es verdadera')
else:
  print('La condicion es falsa')

La condicion es verdadera

In [ ]:
#Ejemplo practico:
lista = [
    "Ana Gómez",
    "Luis Martínez",
    "Sofía Rodríguez",
    "Carlos López",
    "Valeria Fernández",
    "Javier Pérez",
    "Camila Sánchez",
    "Daniel Díaz",
    "Lucía Torres",
    "Miguel Ramírez",
    "Isabella Flores",
    "Sebastián Vargas",
    "Mariana Silva",
    "Mateo Castro",
    "Paula Mendoza",
    "Álvaro Ríos",
    "Victoria Morales",
    "Nicolás Ortega",
    "Andrea Navarro",
    "Diego Herrera",
    "Emilia Medina",
    "Gabriel Guzmán",
    "Renata Paredes",
    "Tomás Acosta",
    "Jimena Aguirre",
    "Adrián Rojas",
    "Catalina Vázquez",
    "Santiago Núñez",
    "Elena Bravo",
    "Joaquín Cruz"
]
print("Lista cargada con exito!")

Lista cargada con exito!

In [ ]:
#Necesitamos verificar dos nombres Camila Sánchez y Andrea Navas en la lista
nombre1 = "Camila Sánchez"
nombre2 = "Andrea Navas"
#validando si esta en nuestra lista
if nombre1 in lista:
  print(f"{nombre1} esta en la lista Aprobo")
else:
  print(f"{nombre1} no esta en la lista Reprobo")

Camila Sánchez esta en la lista

In [ ]:
#Validando que no esta en nuestra lista
if nombre2 in lista:
  print(f"{nombre2} esta en la lista Aprobo")
else:
  print(f"{nombre2} no esta en la lista Reprobo")

Andrea Navas no esta en la lista Reprobo

#Desafio

In [ ]:
#1 - Escribe un programa que pida a la persona usuaria que proporcione dos números y muestre el número más grande.
numero1 = int(input("Ingrese el primer numero: "))
numero2 = int(input("Ingrese el segundo numero: "))
if numero1 > numero2:
  print(f"El numero mayor es: {numero1}")
elif numero1<numero2:
  print(f"El numero mayor es: {numero2}")
else:
  print("Los numeros son iguales")

Ingrese el primer numero: 9
Ingrese el segundo numero: 8
El numero mayor es: 9

In [ ]:
# Recolectamos el porcentaje
variación = float(input('Ingrese el porcentaje de crecimiento: '))
# Verificamos si el valor es positivo o negativo con una comparación para ver si el número
# es mayor o menor que 0
if variación > 0:
    print(f'Hubo un crecimiento del {variación}%')
elif variación < 0:
    print(f'Hubo un decrecimiento del {variación}%')
else:
    print('No hubo crecimiento ni decrecimiento.')

Ingrese el porcentaje de crecimiento: 9
Hubo un crecimiento del 9.0%

In [ ]:
# Recolectamos la letra del usuario en minúsculas
letra = input('Ingrese una letra: ').lower()
vocales = 'aeiou' # cadena que contiene todas las vocales
# Verificamos si la letra está en las vocales con `in`
if letra in vocales:
    print('La letra es una vocal.')
else:
    print('La letra es una consonante.')

Ingrese una letra: A
La letra es una vocal.

In [ ]:
# Recolectamos los precios de los 3 años
precio_ano1 = float(input('Ingrese el precio promedio del automóvil en el primer año: '))
precio_ano2 = float(input('Ingrese el precio promedio del automóvil en el segundo año: '))
precio_ano3 = float(input('Ingrese el precio promedio del automóvil en el tercer año: '))
# Determinamos el valor más alto mediante comparaciones
mayor = precio_ano1
if precio_ano2 > mayor:
  mayor = precio_ano2
if precio_ano3 > mayor:
  mayor = precio_ano3
# Determinamos el valor más bajo mediante comparaciones
menor = precio_ano1
if precio_ano2 < menor:
  menor = precio_ano2
if precio_ano3 < menor:
  menor = precio_ano3
# Mostramos los resultados
print(f'El precio más alto fue de USD $ {mayor}.')
print(f'El precio más bajo fue de USD $ {menor}.')

Ingrese el precio promedio del automóvil en el primer año: 3500
Ingrese el precio promedio del automóvil en el segundo año: 4800
Ingrese el precio promedio del automóvil en el tercer año: 6400
El precio más alto fue de USD $ 6400.0.
El precio más bajo fue de USD $ 3500.0.

In [ ]:
# Recolectamos el precio de tres productos
producto1 = float(input('Ingrese el precio del primer producto: '))
producto2 = float(input('Ingrese el precio del segundo producto: '))
producto3 = float(input('Ingrese el precio del tercer producto: '))

# Usamos el operador lógico `and` para determinar cuál es el precio más bajo entre los 3 productos
# ya que esto nos permite hacer una comparación de 3 entradas
if producto1 < producto2 and producto1 < producto3:
    print('El primer producto es el más barato.')
elif producto2 < producto1 and producto2 < producto3:
    print('El segundo producto es el más barato.')
else:
    print('El tercer producto es el más barato.')

Ingrese el precio del primer producto: 8.50
Ingrese el precio del segundo producto: 9.45
Ingrese el precio del tercer producto: 3.80
El tercer producto es el más barato.

In [ ]:
# Recolectamos los 3 números
num1 = int(input('Ingrese el primer número: '))
num2 = int(input('Ingrese el segundo número: '))
num3 = int(input('Ingrese el tercer número: '))

# Comparación entre los 3 números
if (num1 >= num2) and (num1 >= num3):
    print(num1)
    if num2 >= num3:
        print(num2)
        print(num3)
    else:
        print(num3)
        print(num2)
elif (num2 >= num1) and (num2 >= num3):
    print(num2)
    if num1 >= num3:
        print(num1)
        print(num3)
    else:
        print(num3)
        print(num1)
else:
    print(num3)
    if num1 >= num2:
        print(num1)
        print(num2)
    else:
        print(num2)
        print(num1)

Ingrese el primer número: 8
Ingrese el segundo número: 2
Ingrese el tercer número: 9
9
8
2

In [ ]:
# Recolectamos el turno de estudio
turno = input('Ingresa en qué turno estudias (mañana, tarde o noche): ')

# Comparamos la entrada con todas las opciones y mostramos el resultado.
if turno == 'mañana':
  print('¡Buenos Días!')
elif turno == 'tarde':
  print('¡Buenas Tardes!')
elif turno == 'noche':
  print('¡Buenas Noches!')
else:
  print('¡Valor Inválido!')

Ingresa en qué turno estudias (mañana, tarde o noche): noche
¡Buenas Noches!

In [ ]:
# Recolectamos los datos
num = int(input('Ingresa un número: '))

# Verificamos si el número es par según el resultado del módulo
if num % 2 == 0:
    print('El número es par.')
else:
    print('El número es impar.')

Ingresa un número: 8
El número es par.

In [ ]:
# Recolectamos los datos
# Recolectamos los datos
num = float(input('Ingresa un número: '))
# Verificamos si el número es entero o decimal según el resultado del módulo
if num % 1 == 0:
    print('El número es entero.')
else:
    print('El número es decimal.')

Ingresa un número: 2.5
El número es decimal.

In [ ]:
# Recolectamos los números a operar y solicitamos la operación deseada por el usuario
num1 = float(input('Ingrese el primer número: '))
num2 = float(input('Ingrese el segundo número: '))
operación = input('Ingrese la operación deseada (+, -, *, /): ')

# Verificamos la operación seleccionada y realizamos la operación matemática según la elección
if operación == '+':
    resultado = num1 + num2
elif operación == '-':
    resultado = num1 - num2
elif operación == '*':
    resultado = num1 * num2
elif operación == '/':
    resultado = num1 / num2
else: # Especificamos un resultado en caso de que el usuario no ingrese una de las operaciones correctamente.
    print('Operación no válida, el resultado de la operación será 0')
    resultado = 0

# Realizamos las mismas verificaciones que en preguntas anteriores para generar el informe del cálculo entre números
if resultado % 1 == 0:
    print('El resultado es un número entero.')
else:
    print('El resultado es un número decimal.')

if resultado > 0:
    print('El resultado es positivo.')
else:
    print('El resultado es negativo.')

if resultado % 2 == 0:
    print('El resultado es un número par.')
else:
    print('El resultado es un número impar.')

Ingrese el primer número: 20
Ingrese el segundo número: 10
Ingrese la operación deseada (+, -, *, /): +
El resultado es un número entero.
El resultado es positivo.
El resultado es un número par.

In [ ]:
# Recolectamos los lados de un triángulo
print('Estamos recopilando los lados de un triángulo.')
lado1 = float(input('Ingresa la longitud del primer lado: '))
lado2 = float(input('Ingresa la longitud del segundo lado: '))
lado3 = float(input('Ingresa la longitud del tercer lado: '))

# Verificamos si los lados pueden formar un triángulo
if (lado1 + lado2 > lado3) and (lado2 + lado3 > lado1) and (lado1 + lado3 > lado2):
    print('¡Los valores pueden formar un triángulo!')
    # Comparamos los lados para determinar el tipo de triángulo
    if (lado1 == lado2) and (lado2 == lado3):
        print('El triángulo es equilátero.')
    elif (lado1 != lado2) and (lado2 != lado3) and (lado1 != lado3):
        print('El triángulo es escaleno.')
    else:
        print('El triángulo es isósceles.')
else:
    print('¡Los valores no pueden formar un triángulo!')

Estamos recopilando los lados de un triángulo.
Ingresa la longitud del primer lado: 10
Ingresa la longitud del segundo lado: 4
Ingresa la longitud del tercer lado: 3
¡Los valores no pueden formar un triángulo!

In [ ]:
# Recolectamos la cantidad de litros y el tipo de combustible,
# convirtiendo el carácter en mayúsculas para facilitar nuestro análisis
cantidad_litros = float(input('Ingrese la cantidad de litros vendidos: '))
tipo_combustible = input('Ingrese el tipo de combustible (E para etanol y D para diésel): ').upper()

# Verificamos primero el tipo de combustible
if tipo_combustible == 'E':
  # Establecemos el precio por litro de etanol
  precio_litro = 1.70
  # Según la cantidad de litros, establecemos el descuento correspondiente
  if cantidad_litros <= 15:
    descuento = 0.02
  else:
    descuento = 0.04
elif tipo_combustible == 'D':
  # Establecemos el precio por litro de diésel
  precio_litro = 2.00
  # Según la cantidad de litros, establecemos el descuento correspondiente
  if cantidad_litros <= 15:
    descuento = 0.03
  else:
    descuento = 0.05
# En caso de error en la especificación del tipo de combustible,
# consideramos las entradas como no válidas y establecemos los precios y descuentos en 0
else:
    print('Entradas no válidas!')
    precio_litro = 0
    descuento = 0

# Calculamos el valor del descuento, seguido del cálculo del precio descontado
valor_descuento = precio_litro * cantidad_litros * descuento
valor_pagado = precio_litro * cantidad_litros - valor_descuento

# Resultado
print(f'Valor a pagar por el cliente: USD $ {valor_pagado}')

Ingrese la cantidad de litros vendidos: 780
Ingrese el tipo de combustible (E para etanol y D para diésel): D
Valor a pagar por el cliente: USD $ 1482.0

In [ ]:
# Recolectamos las ventas de los dos años
venta_2023 = float(input('Ingrese la cantidad de ventas en 2023: '))
venta_2024 = float(input('Ingrese la cantidad de ventas en 2024: '))

# Calculamos la variación porcentual entre las ventas de los años 2023 y 2024
var_porcentual = 100 * (venta_2024 - venta_2023) / (venta_2023)

# Análisis condicional de la variación porcentual para determinar la sugerencia a enviar
if var_porcentual > 20:
    print('Bonificación para el equipo de ventas.')
elif 2 <= var_porcentual <= 20:
    print('Pequeña bonificación para el equipo de ventas.')
elif -10 <= var_porcentual < 2:
    print('Planificación de políticas de incentivo a las ventas.')
else:
    print('Recorte de gastos.')

Ingrese la cantidad de ventas en 2023: 18500
Ingrese la cantidad de ventas en 2024: 19800
Pequeña bonificación para el equipo de ventas.

#Estructuras de repeticion
Cuando tenemos que ejecutar un mismo bloque de comandos durante varias ocaciones no es practico realizarlo a mano.<br>
**Situacion:** Imprimir el promedio de 2 calificaciones de **3 estudiantes**:

In [ ]:
calificacion1 = float(input("Ingrese la calificacion 1: "))
calificacion2 = float(input("Ingrese la calificacion 2: "))
promedio = (calificacion1 + calificacion2) / 2
print(f"El promedio es: {round(promedio,2) }")

Ingrese la calificacion 1: 9.8
Ingrese la calificacion 2: 4.5
El promedio es: 7.15

#While
Es una estructura de repeticion en Python que permite ejecutar un bloque de codigo repetidamente mientras que una determinada condicion sea verdadera.

In [ ]:
#Se crea un contador que cuente de 1 a 10
contador = 1
while contador <= 10:
    print(contador)
    #contador = contador + 1
    contador +=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Haciendo esta estructura para colectar las calificaciones de 3 alumnos
#inicializamos la variable contador en 1
contador = 1
while contador  <= 3:
  calificacion1 = float(input("Ingrese la calificacion 1: "))
  calificacion2 = float(input("Ingrese la calificacion 2: "))
  calificacion3 = float(input("Ingrese la calificacion 3: "))
#Calculamos el promedio en otra variable
  promedio = (calificacion1 + calificacion2 + calificacion3) / 3

  print(f"El promedio es: {round(promedio,2) }")
  contador += 1

Ingrese la calificacion 1: 6.8
Ingrese la calificacion 2: 7.5
Ingrese la calificacion 3: 9.0
El promedio es: 7.77
Ingrese la calificacion 1: 8.0
Ingrese la calificacion 2: 3.0
Ingrese la calificacion 3: 9.0
El promedio es: 6.67
Ingrese la calificacion 1: 9.0
Ingrese la calificacion 2: 8.5
Ingrese la calificacion 3: 0
El promedio es: 5.83

#Operadores de atribucion

| Operador | Descripción | Ejemplo |
|----------|-------------|---------|
| -=       | Resta un valor de la variable precio | `precio -= 5` |
| *=       | Multiplica un valor por la variable precio | `precio *= 3` |
| /=       | Divide la variable por un valor precio | `precio /= 2` |
| //=      | Realiza una división entera de la variable por un valor precio | `precio //= 6` |
| %=       | Calcula el resto de la división del valor en la variable y asigna el resultado a la variable precio | `precio %= 5` |

In [ ]:
#Utilizando el operador suma +=
precio = 2.00
precio += 3
print(f"EL precio es de: {round(precio,2) }")

EL precio es de: 5.0

#FOR
Es una estructura de control de flujo en python que permite iterar sobre un conjunto de elementos
for elemento in conjunto:
   codigo a ser ejecutado para cada elemento.
El conjunto es posible generarlo con la funcion [range](https://www.datacamp.com/tutorial/python-range-function?utm_source=google&utm_medium=paid_search&utm_campaignid=21057859163&utm_adgroupid=157296744657&utm_device=c&utm_keyword=&utm_matchtype=&utm_network=g&utm_adpostion=&utm_creative=733936255805&utm_targetid=aud-517318242147:dsa-2218886984100&utm_loc_interest_ms=&utm_loc_physical_ms=9216685&utm_content=ps-other~latam-en~dsa~tofu~tutorial-python&accountid=9624585688&utm_campaign=230119_1-ps-other~dsa~tofu_2-b2c_3-latam-en_4-prc_5-na_6-na_7-le_8-pdsh-go_9-nb-e_10-na_11-na&gad_source=1&gbraid=0AAAAADQ9WsFHLNHyEVnjQ06sCnfbITqh4&gclid=Cj0KCQjwh_i_BhCzARIsANimeoE59cQCpt3BrXHPrJhWnf2JYbeLukNhMGkJyU5po7Nhv8SlFdLKULcaAtzNEALw_wcB)()

In [ ]:
#Vamos a recrear el mismo contador while con el lazo for.
for contador in range(1,11):
  print(contador)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Haciendo la revision de 3 calificaciones de estudiantes
for contador in range(1,4):
  calificacion1 = float(input("Ingrese la calificacion 1: "))
  calificacion2 = float(input("Ingrese la calificacion 2: "))
  calificacion3 = float(input("Ingrese la calificacion 3: "))
#Calculamos el promedio en otra
  promedio = (calificacion1 + calificacion2 + calificacion3) / 3

  print(f"El promedio es: {round(promedio,2) }")
  contador += 1

Ingrese la calificacion 1: 8.5
Ingrese la calificacion 2: 3.9
Ingrese la calificacion 3: 8.0
El promedio es: 6.8
Ingrese la calificacion 1: 9.0
Ingrese la calificacion 2: 10.0
Ingrese la calificacion 3: 8.6
El promedio es: 9.2
Ingrese la calificacion 1: 8.0
Ingrese la calificacion 2: 7.0
Ingrese la calificacion 3: 9.0
El promedio es: 8.0

In [ ]:
#Ejemplo practico: Descubrir la cantidad total de propiedades construidas entre los años 2017 y 2022 por una inmobiliaria.
total_propiedades = 0 #Inicializamos la variable en cero.
for año in range(2023,2024):
  cantidad_propiedades = float(input(f'Digite la cantidad de propiedades en el rango de años {año}:'))
  total_propiedades += cantidad_propiedades
print(f"La cantidad total de propiedades construidas entre los años 2023 y 2024 es: {total_propiedades}")

Digite la cantidad de propiedades en el año 2023:10
La cantidad total de propiedades construidas entre los años 2023 y 2024 es: 10.0

#Desafio con WHILE y FOR

In [ ]:
#1 - Escribe un programa que solicite dos números enteros e imprima todos los números enteros entre ellos.

# Solicitar al usuario que ingrese dos números enteros
num1 = int(input("Ingrese el primer número entero: "))
num2 = int(input("Ingrese el segundo número entero: "))

# Determinar el rango de números entre los dos valores ingresados
if num1 < num2:
    # Si num1 es menor que num2, imprimir en orden ascendente
    for i in range(num1, num2 + 1):
        print(i)
elif num1 > num2:
    # Si num1 es mayor que num2, imprimir en orden descendente
    for i in range(num1, num2 - 1, -1):
        print(i)
else:
    # Si ambos números son iguales, simplemente imprimir uno de ellos
    print(f"Los números son iguales: {num1}")

Ingrese el primer número entero: 7
Ingrese el segundo número entero: 7
Los números son iguales: 7

In [ ]:
#2 - Escribe un programa para calcular cuántos días tomará que la colonia de una bacteria A supere o iguale a la colonia de una bacteria B, basado en tasas de crecimiento del 3% y 1.5%, respectivamente. Supón que la colonia A comienza con 4 elementos y B con 10.
#Numero inicial de baterias
colonia_A = 4
colonia_B = 10
#Tasas de crecimiento
tasa_A = 0.03
tasa_B = 0.015
#Contador de dias
dias = 0
# La condición que termina el bucle es cuando
# la colonia A supera a la colonia B
while colonia_A <= colonia_B:
  # Usamos un operador de asignación con multiplicación
  colonia_A *= 1 + tasa_A
  colonia_B *= 1 + tasa_B
  # Contamos los días en cada iteración
  dias += 1

# Resultado final
print(f"Necesitará {dias} días para que la colonia A supere a la colonia B.")

Necesitará 63 días para que la colonia A supere a la colonia B.

In [ ]:
#3 - Para procesar una cantidad de 15 datos de evaluaciones de usuarios de un servicio de la empresa, necesitamos verificar si las calificaciones son válidas. Por lo tanto, escribe un programa que recibirá calificaciones del 0 al 5 y verificará si son valores válidos. Si se ingresa una calificación superior a 5 o inferior a 0, se repetirá hasta que el usuario ingrese un valor válido.
# Bucle para recopilar las 15 notas
for i in range(15):
  calificacion =float(input(f"Ingrese la calificacion del usuario: "))
  # Verifica si la nota está entre 0 y 5
  # Si no lo está, el bucle se repetirá hasta que se obtenga un valor válido
  while  (calificacion < 0) or (calificacion > 5):
    calificacion = float(input(f"Ingrese la calificacion del usuario nuevamente: "))

  print (f"Verificacion completa. La calificacion es valida")

Ingrese la calificacion del usuario: 9
Ingrese la calificacion del usuario nuevamente: 2
Verificacion completa. La calificacion es valida
Ingrese la calificacion del usuario: 1
Verificacion completa. La calificacion es valida
Ingrese la calificacion del usuario: 3
Verificacion completa. La calificacion es valida
Ingrese la calificacion del usuario: 9
Ingrese la calificacion del usuario nuevamente: 8
Ingrese la calificacion del usuario nuevamente: 5
Verificacion completa. La calificacion es valida
Ingrese la calificacion del usuario: 6
Ingrese la calificacion del usuario nuevamente: 4
Verificacion completa. La calificacion es valida
Ingrese la calificacion del usuario: 2
Verificacion completa. La calificacion es valida
Ingrese la calificacion del usuario: 1
Verificacion completa. La calificacion es valida
Ingrese la calificacion del usuario: 3
Verificacion completa. La calificacion es valida
Ingrese la calificacion del usuario: 7
Ingrese la calificacion del usuario nuevamente: 6
Ingrese la calificacion del usuario nuevamente: 5
Verificacion completa. La calificacion es valida
Ingrese la calificacion del usuario: 3
Verificacion completa. La calificacion es valida
Ingrese la calificacion del usuario: 4
Verificacion completa. La calificacion es valida
Ingrese la calificacion del usuario: 3
Verificacion completa. La calificacion es valida
Ingrese la calificacion del usuario: 2
Verificacion completa. La calificacion es valida
Ingrese la calificacion del usuario: 3
Verificacion completa. La calificacion es valida
Ingrese la calificacion del usuario: 2
Verificacion completa. La calificacion es valida

In [ ]:
#4 - Desarrolla un programa que lea un conjunto indefinido de temperaturas en grados Celsius y calcule su promedio. La lectura debe detenerse al ingresar el valor -273°C.
#Recopila el dato del usuario.
temperatura = float(input("Ingrese la temperatura en grados Celsius (ingrese -273 para detener): "))

# Inicializamos un contador y una suma para calcular el promedio
contador = 0
suma = 0

# Bucle para recopilar las temperaturas
while temperatura != -273:
    # La suma se actualiza sumando la temperatura a la variable suma
    suma += temperatura
    # Contamos la cantidad de valores recopilados con el contador
    contador += 1
    # Recopilamos nuevamente la temperatura
    temperatura = float(input('Ingresa la temperatura en grados Celsius: '))
#Variable del calculo
promedio = suma / contador
#Vemos el resultado
print(f'El promedio de las temperaturas es: {promedio}')

Ingrese la temperatura en grados Celsius (ingrese -273 para detener): 180
Ingresa la temperatura en grados Celsius: 30
Ingresa la temperatura en grados Celsius: 30
Ingresa la temperatura en grados Celsius: 10
Ingresa la temperatura en grados Celsius: 20
Ingresa la temperatura en grados Celsius: 10
Ingresa la temperatura en grados Celsius: 2
Ingresa la temperatura en grados Celsius: 9
Ingresa la temperatura en grados Celsius: -235
Ingresa la temperatura en grados Celsius: 180
Ingresa la temperatura en grados Celsius: -273
El promedio de las temperaturas es: 23.6

In [ ]:
"""5 - Escribe un programa que calcule el factorial de un número entero proporcionado por el usuario. Recuerda que el factorial de un
número entero es el producto de ese número por todos sus antecesores hasta llegar al número 1. Por ejemplo,
el factorial de 5 es 5 x 4 x 3 x 2 x 1 = 120."""

# Solicita el número
num = int(input('Ingresa un número entero: '))

# Inicializa el cálculo
factorial = 1

# Nuestro contador comienza con el número máximo
# y se realizará un conteo decreciente con el operador -=
i = num
while i > 0:
    # Queremos multiplicar el valor factorial por el número
    # y todos los números por debajo de él hasta 1
    factorial *= i
    i -= 1

# Imprime el cálculo del factorial
print(f'El factorial de {num} es {factorial}')

Ingresa un número entero: 10
El factorial de 10 es 3628800

In [ ]:
"""Momento de los proyectos

6 - Escribe un programa que genere la tabla de multiplicar de un número entero del 1 al 10, según la elección del usuario. Como ejemplo,
para el número 2, la tabla de multiplicar debe mostrarse en el siguiente formato:"""

# Solicitar al usuario que ingrese un número entre 1 y 10
numero = int(input("Ingrese un número entero del 1 al 10 para generar su tabla de multiplicar: "))

# Validar que el número esté en el rango correcto
if numero < 1 or numero > 10:
    print("El número ingresado no está en el rango válido (1-10).")
else:
    # Mostrar la tabla utilizando un bucle for
    print(f"\nTabla de multiplicar del {numero} usando FOR:")
    for i in range(1, 11):  # Itera desde 1 hasta 10
        print(f"{numero} x {i} = {numero * i}")

    # Mostrar la tabla utilizando un bucle while
    print(f"\nTabla de multiplicar del {numero} usando WHILE:")
    contador = 1
    while contador <= 10:
        print(f"{numero} x {contador} = {numero * contador}")
        contador += 1

Ingrese un número entero del 1 al 10 para generar su tabla de multiplicar: 3

Tabla de multiplicar del 3 usando FOR:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Tabla de multiplicar del 3 usando WHILE:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [ ]:
"""7 - Los números primos tienen diversas aplicaciones en Ciencia de Datos, como en criptografía y seguridad. Un número primo es aquel que es divisible solo por sí mismo y por 1.
Por lo tanto, crea un programa que solicite un número entero y determine si es un número primo o no."""
# Programa para determinar si un número es primo

# Solicitar al usuario que ingrese un número entero
numero = int(input("Ingrese un número entero: "))

# Validar que el número sea mayor o igual a 2 (los números primos son >= 2)
if numero < 2:
    print(f"El número {numero} no es primo.")
else:
    # Variable para determinar si el número es primo
    es_primo = True

    # Usar un bucle while para validar divisores
    divisor = 2  # Empezamos con el primer divisor posible
    while divisor <= int(numero ** 0.5):  # Solo necesitamos verificar hasta la raíz cuadrada del número
        # Usar un bucle for para iterar sobre posibles divisores adicionales
        for i in range(divisor, divisor + 1):  # Simplemente itera una vez por cada divisor
            if numero % i == 0:  # Si el número es divisible por i
                es_primo = False
                break  # Salir del bucle for si encontramos un divisor
        if not es_primo:
            break  # Salir del bucle while si ya sabemos que no es primo
        divisor += 1  # Incrementar el divisor para seguir verificando

    # Mostrar el resultado
    if es_primo:
        print(f"El número {numero} es primo.")
    else:
        print(f"El número {numero} no es primo.")

Ingrese un número entero: 6
El número 6 no es primo.

In [ ]:
"""8 - Vamos a comprender la distribución de edades de los pensionistas de una empresa de seguros. Escribe un programa que lea las edades de una cantidad no informada de clientes y muestre la distribución en los intervalos [0-25], [26-50], [51-75] y [76-100].
La entrada de datos se detendrá al ingresar un número negativo."""
# Recopilamos las edades de los clientes
edad = int(input('Ingresa la edad (o un número negativo para finalizar): '))

# Inicializamos las variables de conteo
contador_0_25 = 0 # contador de edades entre 0 y 25
contador_26_50 = 0 # contador de edades entre 26 y 50
contador_51_75 = 0 # contador de edades entre 51 y 75
contador_76_100 = 0 # contador de edades entre 76 y 100

# Nuestro código se ejecuta hasta que el valor de edad sea negativo
while edad >= 0:
    # Contamos cada caso
    if edad >= 0 and edad <= 25:
        contador_0_25 += 1
    elif edad >= 26 and edad <= 50:
        contador_26_50 += 1
    elif edad >= 51 and edad <= 75:
        contador_51_75 += 1
    elif edad >= 76 and edad <= 100:
        contador_76_100 += 1

    # Repetimos el proceso de entrada de datos hasta que se ingrese un número negativo
    edad = int(input('Ingresa la edad (o un número negativo para finalizar): '))

# Mostramos los resultados
print('Distribución de edades:')
print('[0-25]:', contador_0_25)
print('[26-50]:', contador_26_50)
print('[51-75]:', contador_51_75)
print('[76-100]:', contador_76_100)

Ingresa la edad (o un número negativo para finalizar): 5
Ingresa la edad (o un número negativo para finalizar): 70
Ingresa la edad (o un número negativo para finalizar): 25
Ingresa la edad (o un número negativo para finalizar): 30
Ingresa la edad (o un número negativo para finalizar): 15
Ingresa la edad (o un número negativo para finalizar): 7
Ingresa la edad (o un número negativo para finalizar): 52
Ingresa la edad (o un número negativo para finalizar): 9
Ingresa la edad (o un número negativo para finalizar): 10
Ingresa la edad (o un número negativo para finalizar): -1
Distribución de edades:
[0-25]: 6
[26-50]: 1
[51-75]: 2
[76-100]: 0

In [ ]:
# Inicializamos las variables contadoras
votos_candidato1 = 0
votos_candidato2 = 0
votos_candidato3 = 0
votos_candidato4 = 0
votos_nulos = 0
votos_blanco = 0

# Inicio del bucle para leer los votos
for i in range(0, 20):
    voto = int(input('Ingresa tu voto: '))
    if voto == 1:
        votos_candidato1 += 1
    elif voto == 2:
        votos_candidato2 += 1
    elif voto == 3:
        votos_candidato3 += 1
    elif voto == 4:
        votos_candidato4 += 1
    elif voto == 5:
        votos_nulos += 1
    elif voto == 6:
        votos_blanco += 1
    else:
        print("Voto inválido.")

print(f'Votos candidato 1: {votos_candidato1}')
print(f'Votos candidato 2: {votos_candidato2}')
print(f'Votos candidato 3: {votos_candidato3}')
print(f'Votos candidato 4: {votos_candidato4}')
print(f'Votos nulos: {votos_nulos}')
print(f'Votos en blanco: {votos_blanco}')
print(f'Porcentaje de votos nulos: {(votos_nulos / 20 * 100)}')
print(f'Porcentaje de votos en blanco: {(votos_blanco / 20 * 100)}')

Ingresa tu voto: 8
Voto inválido.
Ingresa tu voto: 5
Ingresa tu voto: 3
Ingresa tu voto: 2
Ingresa tu voto: 4
Ingresa tu voto: 2
Ingresa tu voto: 6
Ingresa tu voto: 3
Ingresa tu voto: 4
Ingresa tu voto: 5
Ingresa tu voto: 3
Ingresa tu voto: 1
Ingresa tu voto: 2
Ingresa tu voto: 5
Ingresa tu voto: 3
Ingresa tu voto: 6
Ingresa tu voto: 4
Ingresa tu voto: 5
Ingresa tu voto: 6
Ingresa tu voto: 2
Votos candidato 1: 1
Votos candidato 2: 4
Votos candidato 3: 4
Votos candidato 4: 3
Votos nulos: 4
Votos en blanco: 3
Porcentaje de votos nulos: 20.0
Porcentaje de votos en blanco: 15.0

#LISTAS

In [2]:
lista = ["Cristian Parada",9.5,8.4,7.5,True]
lista

['Cristian Parada', 9.5, 8.4, 7.5, True]

In [3]:
type(lista)

list

In [4]:
lista[0]

'Cristian Parada'

In [ ]:
type(lista[0])

str

In [ ]:
#Para leer cada elemento de la lista utilizamos for
for elemento in lista:
  print(elemento)

Cristian Parada
9.5
8.4
7.5
True

In [5]:
#Cambiando el valor del indice 2
lista[2] = 10.0
lista

['Cristian Parada', 9.5, 10.0, 7.5, True]

In [6]:
#Obteniendo promedio con elementos de la lista
promedio = (lista[1]+lista[2]+lista[3])/3
promedio

9.0

#Manipulacion de listas
Las listas son muy utiles en Python porque nos permiten almacenar y acceder a una coleccion de items de manera organizada y rapida.
Para visualizar la cantidad de elementos de un conjunto utilizamos la funcion [len](https://docs.python.org/3/library/functions.html#len)()

In [7]:
len(lista)

5

In [9]:
#slice notation o particion de lista
lista[1:4]

10.0

In [12]:
#ver hasta un elemento de la lista hacia la izquierda
lista[:2]

['Cristian Parada', 9.5]

In [13]:
#ver hasta un elemento de la lista hacia la izquierda
lista[2:]

[10.0, 7.5, True]

In [14]:
lista[:]

['Cristian Parada', 9.5, 10.0, 7.5, True]

Funcion [append](https://www.datacamp.com/tutorial/python-list-methods?utm_source=google&utm_medium=paid_search&utm_campaignid=21057859163&utm_adgroupid=157296744657&utm_device=c&utm_keyword=&utm_matchtype=&utm_network=g&utm_adpostion=&utm_creative=733936255805&utm_targetid=aud-2191467489990:dsa-2218886984100&utm_loc_interest_ms=&utm_loc_physical_ms=9216685&utm_content=ps-other~latam-en~dsa~tofu~tutorial-python&accountid=9624585688&utm_campaign=230119_1-ps-other~dsa~tofu_2-b2c_3-latam-en_4-prc_5-na_6-na_7-le_8-pdsh-go_9-nb-e_10-na_11-na&gad_source=1&gbraid=0AAAAADQ9WsFg3JIibEH822_Oty1MeUCk3&gclid=Cj0KCQjwzYLABhD4ARIsALySuCT1dFVAduQhclpOOwO1a-lRqJqQ3OTHLKM3Ty0HHv4MLfaqGEoCng8aAvvvEALw_wcB)() <br>
Añade un elemento al final de la lista.

In [15]:
meses = ['enero', 'febrero', 'marzo', 'abril']
meses.append('mayo')
print(meses)

['enero', 'febrero', 'marzo', 'abril', 'mayo']

Funcion [extend](https://www.ionos.com/es-us/digitalguide/paginas-web/desarrollo-web/extend-de-python/)() <br>

Añade varios elementos al final de la lista.

In [20]:
lista.extend([10.0,8.0,9.0,7.5])
print(lista)

['Cristian Parada', 9.5, 10.0, 7.5, True, 10.0, 8.0, 9.0, 7.5, 10.0, 8.0, 9.0, 7.5]

Funcion [remove](https://www.datacamp.com/es/tutorial/python-remove-item-from-list)()<br>
Remueve un elemento especifico de la lista.

In [33]:
lista.remove(10.0)
print("Elemento eliminado!")

Elemento eliminado!

In [34]:
lista

['Cristian Parada', 9.5, True, 9.0, 7.5, 10.0, 8.0, 9.0, 7.5]

In [37]:
#Ejemplo sobre listas
razas_de_perros = ['Labrador Retriever',
                   'Bulldog Francés',
                   'Pastor Alemán',
                   'Poodle']

In [38]:
#Utilizando la funcion insert en la lista
razas_de_perros.insert(1, 'Golden Retriever')
razas_de_perros

['Labrador Retriever',
 'Golden Retriever',
 'Bulldog Francés',
 'Pastor Alemán',
 'Poodle']

In [39]:
#El método pop() elimina el elemento en una posición específica de la lista y lo devuelve como salida al ejecutar el método.
razas_de_perros.pop(1)

'Golden Retriever'

In [40]:
#El método index() devuelve el índice de un elemento específico en la lista.
razas_de_perros.index('Pastor Alemán')

2

In [41]:
#El método sort() ordena los elementos de la lista en orden ascendente o descendente.
razas_de_perros.sort()
razas_de_perros

['Bulldog Francés', 'Labrador Retriever', 'Pastor Alemán', 'Poodle']

#Diccionarios
Son un tipo de estructura de datos que almacenan pares de #llave-valor estos son delimitados por {} y los pares llave-valor delimitados por comas.

In [44]:
diccionario= {'llave1': 1,
              'llave2': 2}

print(diccionario)
type(diccionario)

{'llave1': 1, 'llave2': 2}

dict

Vamos a crear un conjunto de datos con la informacion de matricula de un
estudiante los datos son:

*  Matricula: 2000016899
*  Dia de registro: 35
*  Mes de registro: 10
*  Grupo: 2E

In [54]:
estudiante = {'matricula': 2000016899,
'dia_registro': 35,
'mes_registro': 10,
'grupo': '2E'}

estudiante

{'matricula': 2000016899,
 'dia_registro': 35,
 'mes_registro': 10,
 'grupo': '2E'}

In [55]:
estudiante['matricula']

2000016899

In [57]:
estudiante['grupo']='2G'

In [60]:
#Asignando otra llave a nuestro diccionario.
estudiante['modalidad']='EAD'

In [63]:
print(estudiante)
len(estudiante)

{'matricula': 2000016899, 'dia_registro': 35, 'mes_registro': 10, 'grupo': '2G', 'modalidad': 'EAD'}

5

In [64]:
#pop()  remueve un item del diccionario.
estudiante.pop('grupo')

'2G'

In [65]:
estudiante

{'matricula': 2000016899,
 'dia_registro': 35,
 'mes_registro': 10,
 'modalidad': 'EAD'}

In [66]:
#items() retorna una lista de pares llave-valor del diccionario.
estudiante.items()

dict_items([('matricula', 2000016899), ('dia_registro', 35), ('mes_registro', 10), ('modalidad', 'EAD')])

In [67]:
#keys() retorna una lista de las llaves del diccionario.
estudiante.keys()

dict_keys(['matricula', 'dia_registro', 'mes_registro', 'modalidad'])

In [69]:
#values() retorna una lista de los valores de un diccionario.
estudiante.values()

dict_values([2000016899, 35, 10, 'EAD'])

Lectura de valores con el lazo FOR

In [72]:
for llave in estudiante.keys():
  print(llave)

matricula
dia_registro
mes_registro
modalidad

In [70]:
for llave, valor in estudiante.items():
  print(f'La llave es: {llave} y el valor es: {valor}')

La llave es: matricula y el valor es: 2000016899
La llave es: dia_registro y el valor es: 35
La llave es: mes_registro y el valor es: 10
La llave es: modalidad y el valor es: EAD

#Desafios con listas y diccionarios.

1 - Crea un programa que tenga la siguiente lista con los gastos de una empresa de papel [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08].
Con estos valores, crea un programa que calcule el promedio de gastos. Sugerencia: usa las funciones integradas sum() y len().

In [76]:
#Gastos
gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]

#Calculando el promedio de gastos
total_gastos = sum(gastos)
cantidad_compras = len(gastos)
promedio_gastos = total_gastos / cantidad_compras

media_gastos = round(promedio_gastos,2)

#Mostrando el resultado
print(f"El promedio de gastos es: {round(promedio_gastos,2)}")

El promedio de gastos es: 3144.22

2 - Con los mismos datos de la pregunta anterior, determina cuántas compras se realizaron por encima de 3000 USD y calcula el porcentaje con respecto al total de compras.

In [77]:
# Variable que contará cuántas compras se realizaron por encima de 3000
contador_mayor_3000 = 0
# Usamos un bucle para recorrer la lista de gastos
for gasto in gastos:
  # Verificamos si el elemento está por encima de 3000
  if gasto > 3000:
    # Sumamos uno al contador si hay algún valor por encima de 3000
    contador_mayor_3000 += 1

# Con el conteo podemos calcular el porcentaje de valores por encima de 3000 entre todas las compras
porcentaje_arriba_3000 = 100 * contador_mayor_3000 / cantidad_compras

# Resultado
print(f'{contador_mayor_3000} compras estuvieron por encima de USD $3000,00.')
print(f'{porcentaje_arriba_3000}% de los gastos estuvieron por encima de USD $3000,00.')

7 compras estuvieron por encima de USD $3000,00.
70.0% de los gastos estuvieron por encima de USD $3000,00.

3 - Crea un código que recoja en una lista 5 números enteros aleatorios e imprima la lista. Ejemplo: [1, 4, 7, 2, 4].

In [80]:
numeros_aleatorios = []

for i in range(0,5):
    numero_aleatorio = int(input(f"Ingrese el número entero: "))
    numeros_aleatorios.append(numero_aleatorio)

print(numeros_aleatorios)

Ingrese el número entero: 5
Ingrese el número entero: 3
Ingrese el número entero: 2
Ingrese el número entero: 8
Ingrese el número entero: 9
[5, 3, 2, 8, 9]

4- Dado que el objetivo es imprimir la lista de números enteros en orden inverso al ingresado, podemos utilizar la técnica de partición, en la que la lista se recorre desde el último elemento (usando el índice -1) hasta el primero. De esta manera, la lista se imprime en orden inverso al original, de modo que el último elemento es el primero en mostrarse, seguido por el penúltimo elemento y así sucesivamente.

In [81]:
# Lista que almacenará los 5 números enteros
lista_numeros = []

# Creamos un bucle que iterará 5 veces para recibir los 5 números
for i in range(0, 5):
  # Recopilamos el valor e lo insertamos en la lista 5 veces
  numero = int(input('Ingresa un número entero: '))
  lista_numeros.append(numero)
# Usamos la técnica de partición para imprimir el resultado
print(f'Lista de números invertida: {lista_numeros[::-1]}')

Ingresa un número entero: 8
Ingresa un número entero: 4
Ingresa un número entero: 9
Ingresa un número entero: 3
Ingresa un número entero: 2
Lista de números invertida: [2, 3, 9, 4, 8]

5 - Para este problema, necesitamos verificar si todos los números, por debajo de lo especificado por el usuario, son o no divisibles por otros valores además de sí mismos. Para hacer esto, podemos anidar un bucle dentro de otro. Usamos un bucle para recorrer los números enteros de 2 al número ingresado. Para cada número, otro bucle se utiliza para verificar si es divisible por números más pequeños que él. Si el número no es divisible por ninguno de estos números, se considera un número primo. Esta estructura se puede observar a continuación:

In [82]:
# Recopilamos el número
numero = int(input('Ingresa un número entero: '))
# Lista para almacenar los números primos
lista_primos = []
# Bucle que recorre todos los números por debajo del número ingresado
for num in range(2, numero):
  # Primo es una bandera que nos permite saber si el valor analizado es primo o no.
  primo = True
  # Probamos si todos los números por debajo del especificado en el primer bucle pueden dar una división exacta.
  for prueba_divisibles in range(2, num):
    if num % prueba_divisibles == 0:
      # Si es divisible por algún número, entendemos que el número no es primo y terminamos el bucle interno con break.
      primo = False
      break
  # La condición se convierte en el resultado booleano de primo: False. Ignoramos la condición True y ejecutamos el bloque del if.
  if primo:
    lista_primos.append(num)
# Resultado
print(f'Lista de números primos: {lista_primos}')

Ingresa un número entero: 8
Lista de números primos: [2, 3, 5, 7]

6 - Recopilamos el día, mes y año de una fecha y realizamos comprobaciones mes a mes, confirmando si en febrero (sea o no un año bisiesto) el día coincide con lo que es posible. También se analizan los meses que terminan en 31 o 30 días para evitar la existencia de fechas inválidas en los datos.

In [84]:
# Recopilamos la fecha
dia = int(input('Ingrese el día: '))
mes = int(input('Ingrese el mes: '))
año = int(input('Ingrese el año: '))

# Análisis de febrero
if mes == 2:
  # Verificamos si es o no un año bisiesto
  if año % 4 == 0 and (año % 400 == 0 or año % 100 != 0):
    dias_febrero = 29
  else:
    dias_febrero = 28
  # Verificamos si el día ingresado coincide con el máximo de días de febrero
  if dia >= 1 and dia <= dias_febrero:
    print('Fecha válida')
  else:
    print('Fecha inválida')
# Verificamos meses que terminan en 31 días
elif mes in [1, 3, 5, 7, 8, 10, 12]:
  if dia >= 1 and dia <= 31:
    print('Fecha válida')
  else:
    print('Fecha inválida')
# Verificamos meses que terminan en 30 días
elif mes in [4, 6, 9, 11]:
  if dia >= 1 and dia <= 30:
    print('Fecha válida')
  else:
    print('Fecha inválida')
# Si el mes no está entre 1 y 12
else:
  print('Fecha inválida')

Ingrese el día: 9
Ingrese el mes: 8
Ingrese el año: 1984
Fecha válida

In [89]:
# 7 Lista de crecimiento de bacterias
bacterias_colonia = [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]
# Lista que almacenará las tasas de crecimiento
porcentaje_crecimiento = []
# Recorremos los índices de 1 a 9 para comparar los valores actuales con los anteriores
for i in range(1, len(bacterias_colonia)):
  # Realizamos el cálculo: 100 * (muestra_actual - muestra_anterior) / (muestra_anterior)
  porcentaje = 100 * (bacterias_colonia[i] - bacterias_colonia[i-1]) / (bacterias_colonia[i-1])
  # Agregamos el resultado a la lista porcentaje_crecimiento
  porcentaje_crecimiento.append(porcentaje)

#Redondenado los valores de porcentajes
rounded_porcentajes = [round(p, 2) for p in porcentaje_crecimiento]

# Resultado en pantalla
print(f'Porcentajes de crecimiento:\n {(rounded_porcentajes)}')

Porcentajes de crecimiento:
 [75.0, 57.14, 51.52, 56.0, 44.87, 46.9, 51.2, 50.6, 50.53]

In [91]:
# 8 Lista que contendrá los valores de IDs
ids = []
# Variables contadoras de dulces y amargos
dulce = 0
amargo = 0

# Creamos un bucle que iterará 10 veces para recopilar los 10 IDs
for i in range(0,10):
  # Recopilamos el ID y lo agregamos a la lista
  ids.append(int(input(f'Ingrese el ID {i+1}°: ')))

# Leemos todos los elementos de la lista de IDs y los asignamos a id
for id in ids:
  # Verificamos si los elementos son pares o impares para llevar el conteo
  if id % 2 == 0:
    dulce += 1
  else:
    amargo += 1

# Resultado
print(f'Cantidad de productos dulces: {dulce}')
print(f'Cantidad de productos amargos: {amargo}')

Ingrese el ID 1°: 1
Ingrese el ID 2°: 3
Ingrese el ID 3°: 7
Ingrese el ID 4°: 9
Ingrese el ID 5°: 4
Ingrese el ID 6°: 3
Ingrese el ID 7°: 2
Ingrese el ID 8°: 1
Ingrese el ID 9°: 0
Ingrese el ID 10°: 7
Cantidad de productos dulces: 3
Cantidad de productos amargos: 7

In [92]:
#9
# Inicializamos los datos
respuestas = []  # Lista para almacenar las respuestas
# Lista de respuestas correctas
gabarito = ['D', 'A', 'C', 'B', 'A', 'D', 'C', 'C', 'A', 'B']
nota = 0  # Acumulará la nota total

# Recopilamos las respuestas del estudiante
for i in range(0, 10):
  respuestas.append(input(f'Introduzca la respuesta a la pregunta {i + 1}: ').upper())

# Verificamos si las respuestas coinciden y las sumamos a la nota
for i in range(0, 10):
  if respuestas[i] == gabarito[i]:
    nota += 1

# Mostrando la nota final
print(f'Nota final: {nota}')

Introduzca la respuesta a la pregunta 1: 1
Introduzca la respuesta a la pregunta 2: 8
Introduzca la respuesta a la pregunta 3: 1
Introduzca la respuesta a la pregunta 4: 9
Introduzca la respuesta a la pregunta 5: 5
Introduzca la respuesta a la pregunta 6: 6
Introduzca la respuesta a la pregunta 7: 1
Introduzca la respuesta a la pregunta 8: 8
Introduzca la respuesta a la pregunta 9: 6
Introduzca la respuesta a la pregunta 10: 10
Nota final: 0

In [94]:
#10
# Recopilamos la lista de temperaturas mensuales
temperaturas_mensuales = []
for i in range(0, 12):
  temperaturas_mensuales.append(float(input(f'Ingrese la temperatura promedio del mes {i+1}: ')))
# Creamos una lista auxiliar para los nombres de los meses
meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
# Calculamos el promedio
media_anual = sum(temperaturas_mensuales) / len(temperaturas_mensuales)

# Resultado
print('Temperaturas por encima del promedio en: ')
for i in range(0, 12):
  # Verificamos todas las temperaturas en comparación con la media anual
  if temperaturas_mensuales[i] > media_anual:
    # Dado que los índices de los meses corresponden a las temperaturas,
    # podemos imprimirlos con el mismo índice
    print(meses[i])

Ingrese la temperatura promedio del mes 1: 30.2
Ingrese la temperatura promedio del mes 2: 31.3
Ingrese la temperatura promedio del mes 3: 30.7
Ingrese la temperatura promedio del mes 4: 32.4
Ingrese la temperatura promedio del mes 5: 31.5
Ingrese la temperatura promedio del mes 6: 31.3
Ingrese la temperatura promedio del mes 7: 30.1
Ingrese la temperatura promedio del mes 8: 29.7
Ingrese la temperatura promedio del mes 9: 29
Ingrese la temperatura promedio del mes 10: 28.0
Ingrese la temperatura promedio del mes 11: 27.5
Ingrese la temperatura promedio del mes 12: 24.9
Temperaturas por encima del promedio en:
Enero
Febrero
Marzo
Abril
Mayo
Junio
Julio

In [95]:
#11 Diccionario de ventas
# Diccionario de ventas
datos_ventas = {'Producto A': 300, 'Producto B': 80, 'Producto C': 60, 'Producto D': 200, 'Producto E': 250, 'Producto F': 30}

# Inicializamos las variables
total_ventas = 0  # Sumará todas las ventas
producto_mas_vendido = ''  # Almacenará el nombre del producto más vendido
unidades_producto_mas_vendido = 0  # Almacenará la cantidad más alta de ventas

# Recorremos las claves y elementos del diccionario
for producto in datos_ventas.keys():
    # Sumamos el total de ventas
    total_ventas += datos_ventas[producto]
    # Verificamos si el valor de ventas actual (datos_ventas[producto]) es mayor que el valor almacenado en unidades_producto_mas_vendido
    # Cada vez que datos_ventas[producto] supere el valor en unidades_producto_mas_vendido,
    # la variable unidades_producto_mas_vendido será igual a datos_ventas[producto], asignando un nuevo valor
    # De manera similar, producto_mas_vendido también se actualiza con el producto actual
    if datos_ventas[producto] > unidades_producto_mas_vendido:
        unidades_producto_mas_vendido = datos_ventas[producto]
        producto_mas_vendido = producto
# Resultados
print(f'Total de ventas es {total_ventas}')
print(f'{producto_mas_vendido} es el más vendido')

Total de ventas es 920
Producto A es el más vendido

In [97]:
#12
# Diccionario de votos por diseño
votos = {'Diseño 1': 1334, 'Diseño 2': 982, 'Diseño 3': 1751, 'Diseño 4': 210, 'Diseño 5': 1811}

# Inicializamos las variables
total_votos = 0  # Sumará todos los votos
ganador = ''  # Almacenará el nombre del diseño ganador
voto_ganador = 0  # Almacenará la cantidad ganadora de votos

# Recorremos las claves y elementos del diccionario
for diseño, voto_diseño in votos.items():
    # Sumamos el total de votos
    total_votos += voto_diseño
    # Verificamos si el voto del diseño actual (voto_diseño) es mayor que el valor almacenado en voto_ganador
    # Cada vez que voto_diseño supere el valor en voto_ganador,
    # la variable voto_ganador será igual a voto_diseño, asignando un nuevo valor
    # De manera similar, el ganador también se actualiza con el diseño actual
    if voto_diseño > voto_ganador:
        voto_ganador = voto_diseño
        ganador = diseño
# Calculamos el porcentaje del diseño ganador
porcentaje = 100 * (voto_ganador) / (total_votos)

# Resultado
print(f'{ganador} es el ganador: ')
print(f'Porcentaje de votos: {round(porcentaje,2)}%')

Diseño 5 es el ganador:
Porcentaje de votos: 29.75%

In [101]:
#13
# Lista de salarios
salarios = [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]
# Inicializamos las variables
diccionario_abonos = {}  # Diccionario de abonos
total_abono = 0  # Sumará todos los gastos en abonos
abonos_minimo = 0  # Almacenará la cantidad de abonos mínimos
mayor_abono = 0  # Almacenará el mayor valor de abono

# Recorremos toda la lista de salarios
for salario in salarios:
    # Calculamos el valor teórico del abono
    abono = salario * 0.1
    # Si el abono es inferior a 200,
    # ajustamos el valor del abono al mínimo (200)
    if abono < 200:
        abono = 200
    # Agregamos un nuevo dato en el diccionario con la clave abono
    diccionario_abonos[salario] = abono

# Recorremos todos los valores del diccionario de abonos
for abono in diccionario_abonos.values():
    # Contamos los salarios mínimos
    if abono == 200:
        abonos_minimo += 1
    # Verificamos si el abono leído es mayor que el valor almacenado en mayor_abono
    # Cada vez que el abono supere el valor de mayor_abono,
    # la variable mayor_abono será igual al abono, asignando un nuevo valor
    if abono > mayor_abono:
        mayor_abono = abono
    # Sumamos los abonos
    total_abono += abono
# Resultados
print(f'Abonos: {diccionario_abonos}')
print(f'Total de gastos en abonos: {total_abono}')
print(f'Número de empleados que recibieron el abono mínimo: {abonos_minimo}')
print(f'Mayor valor de abono: {round(mayor_abono,2)}')

Abonos: {1172: 200, 1644: 200, 2617: 261.7, 5130: 513.0, 5532: 553.2, 6341: 634.1, 6650: 665.0, 7238: 723.8000000000001, 7685: 768.5, 7782: 778.2, 7903: 790.3000000000001}
Total de gastos en abonos: 6087.8
Número de empleados que recibieron el abono mínimo: 2
Mayor valor de abono: 790.3

In [102]:
#14
# Especificamos los datos para un diccionario
datos = {'Área Norte': [2819, 7236],
         'Área Este': [1440, 9492],
         'Área Sur': [5969, 7496],
         'Área Oeste': [14446, 49688],
         'Área Centro': [22558, 45148]}
# Inicializamos las variables
suma_media = 0  # Sumará todos los promedios
mayor_diversidad = ''  # Almacenará el área con la mayor diversidad
mayor_suma = 0  # Almacenará la mayor suma de especies
# Recorremos las claves y elementos del diccionario
for área, especies in datos.items():
    # Sumamos el número de especies en cada área utilizando la función sum
    suma_especies = sum(especies)
    # Calculamos el promedio dividiendo la suma de las especies entre la cantidad de especies
    media = suma_especies / len(especies)
    # Imprimimos
    print(f'El {área} tiene un promedio de {media} especies')
    # Verificamos si la suma de especies es mayor que el valor almacenado de mayor_suma
    # Cada vez que suma_especies supere el valor de mayor_suma,
    # la variable mayor_suma será igual a suma_especies, asignando un nuevo valor
    # De manera similar, mayor_diversidad también se actualiza
    if suma_especies > mayor_suma:
        mayor_suma = suma_especies
        mayor_diversidad = área
    # Sumamos los promedios
    suma_media += media
# La media total será la suma_media dividida por la cantidad de áreas
media_total = suma_media / len(datos)
print(f'Media general de especies: {media_total}')
print(f'Área con la mayor diversidad biológica: {mayor_diversidad}')

El Área Norte tiene un promedio de 5027.5 especies
El Área Este tiene un promedio de 5466.0 especies
El Área Sur tiene un promedio de 6732.5 especies
El Área Oeste tiene un promedio de 32067.0 especies
El Área Centro tiene un promedio de 33853.0 especies
Media general de especies: 16629.2
Área con la mayor diversidad biológica: Área Centro

In [103]:
#15
# Especificamos los datos para un diccionario
datos = {'Sector A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
        'Sector B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
        'Sector C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
        'Sector D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}
# Inicializamos la variable que sumará todas las edades
total_edades = 0
# Recorremos las claves y elementos del diccionario
for sector, edades in datos.items():
  # Calculamos el promedio dividiendo la suma de las edades entre la cantidad de empleados en cada sector
  media_edad = sum(edades) / len(edades)
  # Imprimimos
  print(f'El {sector} tiene un promedio de {media_edad}')
  # Sumamos los promedios
  total_edades += sum(edades)
# La media total será el total_edades dividido por la cantidad de personas totales (sectores * empleados por sector)
media_total = total_edades / (len(edades) * len(datos))
print(f'La media de edad general es {media_total}')

# Inicializamos la variable que contará a todas las personas con edades por encima de la media
arriba_media = 0
# Recorremos nuevamente las claves y elementos del diccionario
for sector, edades in datos.items():
  # Leemos los elementos (edades) dentro de cada lista de edades en el diccionario
  for edad in edades:
    # Verificamos si el valor de la edad es superior a la media total
    if edad > media_total:
      # En caso de que el valor de la edad sea superior a la media, incrementamos en uno el contador
      arriba_media += 1
# Resultado
print(f'{arriba_media} personas están por encima de la edad media general')

El Sector A tiene un promedio de 39.9
El Sector B tiene un promedio de 42.3
El Sector C tiene un promedio de 35.8
El Sector D tiene un promedio de 36.5
La media de edad general es 38.625
18 personas están por encima de la edad media general