<a href="https://colab.research.google.com/github/w2k31984/Python-for-Data-Science/blob/master/Python_para_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![openinColab.png]()

#Python para Data Science.
Notebook para el curso de python para Data Science publicado en la plataforma de [Alura Latam](https://app.aluracursos.com/course/python-data-science-primeros-pasos).

Vamos a ejecutar nuestro primer comando utilizando la primera funcion llamada: [print](https://docs.python.org/3/library/functions.html#print)().

In [ ]:
#Creamos una variable donde colocaremos el mensaje luego con la funcion print(colocaremos la varible que contiene nuestro mensaje)
saludo = "Hola Mundo!"
print(saludo)

Hola Mundo!

In [ ]:
# Precionamos shift+enter para ejecutar la celda.
15

15

In [ ]:
#Unicamente colocamos el mensaje dentro de la funcion print.
print("Mi nombre es Cristian Parada, tengo 40 años de edad y soy un apasionado de la ciencia de datos!")

Mi nombre es Cristian Parada, tengo 40 años de edad y soy un apasionado de la ciencia de datos!

In [ ]:
#Imprime la frase "Escuela de Datos de Alura"
frase= "Escuela de Datos de Alura"
print(frase)

Escuela de Datos de Alura

In [ ]:
#Imprime tu nombre y tu apellido
nombre = "Cristian"
apellido = "Parada"
print(nombre, apellido)

Cristian Parada

In [ ]:
#Imprimir letra por letra mi nombre
nombre = "Cristian"

for letra in nombre: #Creando un bucle for para poder sacar cada una de las letras de la cadena en la variable nombre.
    print(letra)

C
r
i
s
t
i
a
n

In [ ]:
#Imprime tu fecha de nacimiento en formato día mes año.
dia = 8
mes = 9
año = 1984
print(f"Mi fecha de cumpleaños es: {dia:02d} {mes:02d} {año}") #Utilizo la conversion para que salga la fecha con el formato deseado.

Mi fecha de cumpleaños es: 08 09 1984

In [ ]:
#Imprime, en una sola instrucción print, el año actual en el que estás realizando este curso.
año_actual = 2025
print(f"El año actual del curso es:", año_actual) # utilizamos"f" antes de las comillas para indicar que se trata de una cadena formateada

El año actual del curso es: 2025

# Manipulando los datos
Vamos aprender sobre las variables en Python, como declararlas y utilizarlas ademas de conocer otros comandos de este lenguaje.

# Variables
En Data Science trabajamos con varios tipos de datos, e informaciones entonces es escencial conocer como trabajar con variables.
Las variables en python se crean cuando atribuimos un valor a ellas.
Para ello colocamos el nombre de la variable y el signo = y el valor que queremos:
**nombre_variable= valor de la variable.**

In [ ]:
5

5

In [ ]:
id(5) #Identificacion de la direccion de memoria

10750984

In [ ]:
edad = 5

In [ ]:
#Imprimimos ambas variables para ver la direccion de memoria es la misma al imprimirse.
print(id(edad))
print(id(5))

10750984
10750984

In [ ]:
numerocinco = 5
print(id(numerocinco)) #validamos con id para ver que es el mismo espacio de memoria que utiliza.

10750984

In [ ]:
nombre = "Cristian"
id(nombre)
print(id(nombre))

140493270418992

# Comentarios

In [ ]:
# Este es un comentario de una línea
print(10) # Podemos colocar otro comentario en una línea después de un código

10

In [ ]:
'''
Este es un comentario
de varias líneas.
'''

'\nEste es un comentario\nde varias líneas.\n'

# Tipos de variables
Cada variable contiene una clase especifica con respecto al tipo de objeto al cual esta hace referencia de acuerdo al tipo de dato que le sea atribuido a la variable.
Para conocer la clase de cada tipo de elemento utilizamos la funcion [type](https://docs.python.org/3/library/functions.html#type)().

In [ ]:
edad = 5

In [ ]:
type(edad)

int

In [ ]:
promedio = 9.5
type(promedio)

float

In [ ]:
nombreCompleto = "Cristian Parada"
type(nombreCompleto)

str

In [ ]:
valor = True
type(valor)

bool

#Ejemplo practico
'''
En un conjunto de datos escolares podemos tener varios tipos de informaciones. Supongamos que tenemos acceso a la ficha de datos de un alumno, ¿como transformamos este nombre en variables de Python?

FICHA:


*   Nombre del Alumno: Jose David Parada Mendoza
*   Edad: 13 años
*   Promedio del semestre: 9,25
*   Situacion de Aprobacion: Verdadera(Aprobado)

In [ ]:
#Trasnformando a variables de Python
nombreAlumno = "Jose David Parada Mendoza"
edadAlumno = 13
promedioSemestre = 9.25
aprobado =  True

print(nombreAlumno,edadAlumno,promedioSemestre,aprobado)

#Viendo el tipo de variable forma 1
print(type(nombreAlumno))
print(type(edadAlumno))
print(type(promedioSemestre))
print(type(aprobado))

#Viendo el tipo de variable forma 2
print(type(nombreAlumno),type(edadAlumno),type(promedioSemestre),type(aprobado))

Jose David Parada Mendoza 13 9.25 True
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

# Variables Numericas
Entre los tipos de datos numericos vamos a enfocarnos en los tipos entero y float
Tenemos una tabla de informacion sobre los diversos cargos, cantidad de personas empleadas y el salario correspondiente:


![image.png]()

Se necesita encontrar los siguientes datos:


*   Cantidad total de empleados
*   La diferencia entre el salario mas bajo y mas alto.
*   El promedio ponderado de los salarios de los empleados del centro educativo.

In [ ]:
#Obteniendo variables para calculos
c_vigilantes = 5
salarioVigilante = 300
c_docentes = 16
salarioDocente = 500
c_coordinadores = 2
salarioCoordinador = 600

In [ ]:
#Calculando cantidad de empleados
cantidadEmpleados = c_vigilantes + c_docentes + c_coordinadores
print(f"La cantidad total de empleados es: {cantidadEmpleados} empleados.")

La cantidad total de empleados es: 23 empleados.

In [ ]:
#Calculando la diferencia de salarios.
diferencia_salarios = salarioCoordinador - salarioVigilante
print(f"La diferencia de salarios entre el Coordinador y vigilante es de: {diferencia_salarios} dolares.")

La diferencia de salarios entre el Coordinador y vigilante es de: 300 dolares.

In [ ]:
#Calculando el salario promedio ponderado
salarioPromedio = (c_vigilantes*salarioVigilante + c_docentes*salarioDocente + c_coordinadores*salarioCoordinador)/cantidadEmpleados
print(f"El salario promedio ponderado de los empleados es de: {round(salarioPromedio,2)} dolares.") #Utilizamos la funcion round para redondear el resultado y colocamos 2 porque solo queremos 2 digitos la cifra decimal
type(salarioPromedio)

El salario promedio ponderado de los empleados es de: 465.22 dolares.

float

#Cadenas de texto o strings
Hacen referencia a un conjunto de caracteres de un texto.
Podremos crear cadenas de texto cuando atribuimos un dato a una variable entre comillas simples (' ') o comillas dobles(" ")

In [ ]:
texto = "Alura"
type(texto)

str

Las variables de texto o cadena son objetos que poseen metodos que nos ayudan a formatear dichas cadenas. Los metodos permiten difinir un objeto de acuerdo con la siguiente estructura:

objeto.metodo()

Existen metodos que no necesitan de (), siempre es una buena practica verificar la documentacion para cada caso.

#Situacion
Recibimos una variable con el nombre de un docente para añadir a los registros del centro educativo, sin embargo antes debemos darle un tratamiento al texto antes de insertar al sistema.

In [ ]:
texto = 'Micaela de Sanyos'

#Ver en que espacio de memoria quedo almacenado
id(texto)

133934518334560

El objetivo final es que quede como:
'MICAELA DE SANTOS'

In [ ]:
#Utilizamos la funcion str.upper(), la cual convierte minusculas en mayusculas
texto.upper()

'MICAELA DE SANYOS'

In [ ]:
#Utilizamos la funcion str.lower(), la cual convierte el texto en minusculas.
texto.lower()

'micaela de sanyos'

In [ ]:
#Utilizamos la funcion str.strip(), para eliminar espacios en blanco al inicio y final de un string
texto.strip()

'Micaela de Sanyos'

In [ ]:
#Utilizamos la funcion str.replace(antiguo,nuevo) sustituye las ocurrencias del texto "antiguo", en string por el "nuevo"
texto.replace('y','t')

'Micaela de Santos'

# Observaciones


1.   Los metodos devuelven **transformaciones**, no son ejecutados directamente sobre la variable donde esta almacenado el texto.
2.   Adicionalmente, podemos acumular la ejecucion de los metodos.

#Captura de Datos
Lo hacemos a partir de la funcion  [input](https://docs.python.org/3/library/functions.html#input)()
Para capturar debemos atribuir el resultado de esta funcion a una variable:

In [ ]:
nombre = input("Ingrese el nombre del alumno: ")
type(nombre)

Ingrese el nombre del alumno: Alejandra Gonzalez

str

La salida de este comando siempre sera una string. Esto quiere decir que aunque capturemos un valor de variable numerica, este sera de tipo cadena o string.
Entonces sera necesario convertir el resultado cuando no se desea utilizar el resultado de tipo string
Existen funciones para la conversion de valores


*   Enteros int(dato para conversion)
*   Coma flotante float(dato para conversion)
*   String str(dato para conversion)
*   Booleano bool(dato para conversion)

In [ ]:
ano_admision = input("Ingrese el año de admision del alumno: ")
type(ano_admision)

Ingrese el año de admision del alumno: 2024

str

In [ ]:
ano_salida = input("Ingrese el año de salida del alumno: ")
type(ano_salida)

Ingrese el año de salida del alumno: 2026

str

In [ ]:
#modificamos la entrada de datos o input con int para capturar el dato y sea de tipo numerico.
ano_admision = int(input("Ingrese el año de admision del alumno: "))
type(ano_admision)

Ingrese el año de admision del alumno: 2023

int

In [8]:
#Nota de admision
nota_admision = float(input("Ingrese la nota de admision del alumno: "))
type(nota_admision)

Ingrese la nota de admision del alumno: 8.7

float

In [ ]:
#lo mismo hacemos con el año de salida
ano_salida = int(input("Ingrese el año de salida del alumno: "))
type(ano_salida)

Ingrese el año de salida del alumno: 2026

int

Para mejorar la presentacion del resultado utilizamos la funcion format.
la mas sencilla de utilizar es la f solamente.

In [12]:
print(f'El año de admision fue: {ano_admision} \nLa nota de admision fue: {nota_admision}\n')

El año de admision fue: 2023
La nota de admision fue: 8.7

In [14]:
#Ejercicios:
nombre = "Ana María"
edad = 17
print(f"El nombre de la alumna es: {nombre}\nSu edad es: {edad} años.")

El nombre de la alumna es: Ana María
Su edad es: 17 años.

In [15]:
nombre_alumno = 'Penélope Camacho'
print('Nombre del alumno: %s' %(nombre_alumno))

Nombre del alumno: Penélope Camacho

In [16]:
nombre_alumno = 'Penélope Camacho'
edad_alumno = 11
media_alumno = 9.95
print('Nombre del alumno es %s, tiene %d años y su media es %f.' %(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Penélope Camacho, tiene 11 años y su media es 9.950000.

In [18]:
print('Nombre del alumno es %s \nTiene %d años\nSu media es %.2f.' %(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Penélope Camacho
Tiene 11 años
Su media es 9.95.

In [19]:
x = True
print("Valor de x: %s" % str(x))

Valor de x: True

También es posible utilizar el método .format() para formatear cadenas. Es más flexible y permite pasar las variables directamente dentro de la cadena, sin necesidad de operadores %. Los marcadores son simplemente {}. Por ejemplo:

In [20]:
nombre_alumno = 'Penélope Camacho'
print('Nombre del alumno: {}'.format(nombre_alumno))

Nombre del alumno: Penélope Camacho

In [22]:
nombre_alumno = 'Fabricio Daniel'
edad_alumno = 15
media_alumno = 9.95
print('Nombre del alumno es {} \nTiene {} años \nSu media es {}.' .format(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Fabricio Daniel
Tiene 15 años
Su media es 9.95.

In [23]:
# /n es el carácter de tabulación y se utiliza para agregar un espacio de tabulación en el texto. Ejemplo:
print("Estudiar es un esfuerzo constante,\nEs como cultivar una planta,\nNecesitamos dedicación y paciencia,\nPara ver madurar el fruto.")

Estudiar es un esfuerzo constante,
Es como cultivar una planta,
Necesitamos dedicación y paciencia,
Para ver madurar el fruto.

In [25]:
#\t es el carácter de tabulación y se utiliza para agregar un espacio de tabulación en el texto. Ejemplo:
print('Cantidad\tCalidad\n5 muestras\tAlta\n3 muestras\tBaja')

Cantidad	Calidad
5 muestras	Alta
3 muestras	Baja

\\ se usa para imprimir una sola barra invertida. Si no se utiliza una doble barra invertida, el código podría generar un error o un resultado inesperado, ya que Python considera \ como un carácter especial. Usamos esta sintaxis para garantizar que no ocurran errores. Ejemplo:

In [26]:
print("Ruta del archivo: C:\\archivos\\documento.csv")

Ruta del archivo: C:\archivos\documento.csv

\" se utiliza para imprimir comillas dobles cuando estamos trabajando con una cadena creada con comillas dobles " en el interior. Sin embargo, esto no es necesario si la cadena se crea con comillas simples '. Ejemplo:

In [27]:
print("Una vez oí: \"Los frutos del conocimiento son los más dulces y duraderos de todos.\"")

Una vez oí: "Los frutos del conocimiento son los más dulces y duraderos de todos."

\' se utiliza para imprimir comillas simples cuando estamos trabajando con una cadena creada con comillas simples '. Si la cadena se crea con comillas dobles ", esto no es necesario. Ejemplo:

In [28]:
print('Mi profesora una vez dijo: \'Estudiar es la clave del éxito.\'')

Mi profesora una vez dijo: 'Estudiar es la clave del éxito.'

Vamos a practicar el uso de varios tipos de variables y la función input a través de algunas actividades. Resuelve los problemas propuestos en código.

Recopilación y muestra de datos

1 - Crea un programa que solicite al usuario que escriba su nombre y luego imprima "Hola, [nombre]."

2 - Crea un programa que solicite al usuario que escriba su nombre y edad, y luego imprima "Hola, [nombre], tienes [edad] años."

3 - Crea un programa que solicite al usuario que escriba su nombre, edad y altura en metros, y luego imprima "Hola, [nombre], tienes [edad] años y mides [altura] metros."

Calculadora con operadores

4 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la suma de ambos valores.

5 - Crea un programa que solicite tres valores numéricos al usuario y luego imprima la suma de los tres valores.

6 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la resta del primero menos el segundo valor.

7 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la multiplicación de los dos valores.

8 - Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y realice la división entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.

9 - Crea un programa que solicite dos valores numéricos, un operador y una potencia, y realice la exponenciación entre estos dos valores.

10 - Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y realice la división entera entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.

11 - Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y devuelva el resto de la división entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.

12 - Crea un código que solicite las 3 notas de un estudiante e imprima el promedio de las notas.

13 - Crea un código que calcule e imprima el promedio ponderado de los números 5, 12, 20 y 15 con pesos respectivamente iguales a 1, 2, 3 y 4.

Editando textos

14 - Crea una variable llamada "frase" y asígnale una cadena de texto de tu elección. Luego, imprime la frase en pantalla.

15 - Crea un código que solicite una frase y luego imprima la frase en pantalla.

16 - Crea un código que solicite una frase al usuario y luego imprima la misma frase ingresada pero en mayúsculas.

17 - Crea un código que solicite una frase al usuario y luego imprima la misma frase ingresada pero en minúsculas.

18 - Crea una variable llamada "frase" y asígnale una cadena de texto de tu elección. Luego, imprime la frase sin espacios en blanco al principio y al final.

19 - Crea un código que solicite una frase al usuario y luego imprima la misma frase sin espacios en blanco al principio y al final.

20 - Crea un código que solicite una frase al usuario y luego imprima la misma frase sin espacios en blanco al principio y al final, además de convertirla a minúsculas.

21 - Crea un código que solicite una frase al usuario y luego imprima la misma frase con todas las vocales "e" reemplazadas por la letra "f".

22 - Crea un código que solicite una frase al usuario y luego imprima la misma frase con todas las vocales "a" reemplazadas por el carácter "@".

23 - Crea un código que solicite una frase al usuario y luego imprima la misma frase con todas las consonantes "s" reemplazadas por el carácter "$".

In [29]:
#1 - Crea un programa que solicite al usuario que escriba su nombre y luego imprima "Hola, [nombre]."
nombre = input("Ingrese su nombre: ")
print(f"Hola, {nombre}.")

Ingrese su nombre: Cristian Parada
Hola, Cristian Parada.

In [31]:
#2 - Crea un programa que solicite al usuario que escriba su nombre y edad, y luego imprima "Hola, [nombre], tienes [edad] años."
nombre = input("Ingrese su nombre: ")
edad = input("Ingrese su edad: ")
print(f"Hola, {nombre}\nTienes: {edad} años.")

Ingrese su nombre: Cristian Parada
Ingrese su edad: 41
Hola, Cristian Parada
Tienes: 41 años.

In [32]:
#3 - Crea un programa que solicite al usuario que escriba su nombre, edad y altura en metros, y luego imprima "Hola, [nombre], tienes [edad] años y mides [altura] metros."
nombre = input("Ingrese su nombre: ")
edad = input("Ingrese su edad: ")
altura = input("Ingrese su altura: ")
print(f"Hola, {nombre}\nTienes: {edad} años\nY mides: {altura} metros.")

Ingrese su nombre: Cristian Parada
Ingrese su edad: 41
Ingrese su altura: 1.70
Hola, Cristian Parada
Tienes: 41 años
Y mides: 1.70 metros.

#Calculadora con operadores

In [33]:
#4 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la suma de ambos valores.
numero1 = int(input("Ingrese el primer numero: "))
numero2 = int(input("Ingrese el segundo numero: "))
suma = numero1 + numero2
print(f"La suma de los numeros es: {suma}")

Ingrese el primer numero: 20
Ingrese el segundo numero: 10
La suma de los numeros es: 30

In [35]:
#5 - Crea un programa que solicite tres valores numéricos al usuario y luego imprima la suma de los tres valores.
numero1 = int(input("Ingrese el primer numero: "))
numero2 = int(input("Ingrese el segundo numero: "))
numero3 = int(input("Ingrese el tercer numero: "))
suma = numero1 + numero2 + numero3
print(f"El resultado de la suma es: {suma}")

Ingrese el primer numero: 3
Ingrese el segundo numero: 3
Ingrese el tercer numero: 3
El resultado de la suma es: 9

In [36]:
#6 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la resta del primero menos el segundo valor.
numero1 = int(input("Ingrese el primer numero: "))
numero2 = int(input("Ingrese el segundo numero: "))
resta = numero1 - numero2
print(f"La resta de los numeros es: {resta}")

Ingrese el primer numero: 15
Ingrese el segundo numero: 3
La resta de los numeros es: 12

In [37]:
#7 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la multiplicación de los dos valores.
numero1 = int(input("Ingrese el primer numero: "))
numero2 = int(input("Ingrese el segundo numero: "))
multiplicacion = numero1 * numero2
print(f"La multiplicacion de los numeros es: {multiplicacion}")

Ingrese el primer numero: 2
Ingrese el segundo numero: 5
La multiplicacion de los numeros es: 10

In [48]:
#8 - Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y realice la división entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.
numero1 = int(input("Ingrese el primer numero: ")) #Numerador
numero2 = int(input("Ingrese el segundo numero: ")) #Denominador
division = numero1 / numero2
if numero2 == 0: #Condicion que el numero 2 no puede ser cero.
  print("No se puede dividir entre 0")
  numero2 = int(input("Ingrese el segundo numero: "))
else:
  print(f"La division de los numeros es: {round(division)}")

Ingrese el primer numero: 4
Ingrese el segundo numero: 0
No se puede dividir entre 0
Ingrese el segundo numero: 3

In [49]:
#9 - Crea un programa que solicite dos valores numéricos, un operador y una potencia, y realice la exponenciación entre estos dos valores.
numero1 = int(input("Ingrese el primer numero: "))
numero2 = int(input("Ingrese el segundo numero: "))
potencia = numero1 ** numero2
print(f"La potencia de los numeros es: {potencia}")

Ingrese el primer numero: 3
Ingrese el segundo numero: 4
La potencia de los numeros es: 81

In [53]:
#10 - Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y realice la división entera entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.
numero1 = int(input("Ingrese el primer numero: ")) #Numerador
numero2 = int(input("Ingrese el segundo numero: ")) #Denominador
division = numero1 // numero2
if numero2 == 0: #Condicion que el numero 2 no puede ser cero.
  print("No se puede dividir entre 0")
else:
  print(f"El resultado de la division es: {division}")

Ingrese el primer numero: 9
Ingrese el segundo numero: 2
El resultado de la division es: 4

In [55]:
#11 - Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y devuelva el resto de la división entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.
numero1 = float(input("Ingrese el numerador: "))
numero2 = float(input("Ingrese el denominador: "))
division = numero1 % numero2
if numero2 == 0:
  print("No se puede dividir entre 0")
  numero2 = float(input("Ingrese el denominador: "))
else:
  print(f"el resultdo de la division es: {division}")

Ingrese el numerador: 5
Ingrese el denominador: 3
el resultdo de la division es: 2.0

In [56]:
#12 - Crea un código que solicite las 3 notas de un estudiante e imprima el promedio de las notas.
nota1 = float(input("Ingrese la primera nota: "))
nota2 = float(input("Ingrese la segunda nota: "))
nota3 = float(input("Ingrese la tercera nota: "))
promedio = (nota1 + nota2 + nota3)/3
print(f"El promedio de las notas es: {round(promedio,2)}")

Ingrese la primera nota: 6.7
Ingrese la segunda nota: 8.0
Ingrese la tercera nota: 9.4
El promedio de las notas es: 8.03

In [57]:
#13 - Crea un código que calcule e imprima el promedio ponderado de los números 5, 12, 20 y 15 con pesos respectivamente iguales a 1, 2, 3 y 4.
# Definir los números y sus pesos
numeros = [5, 12, 20, 15]
pesos = [1, 2, 3, 4]

# Calcular el promedio ponderado
suma_ponderada = sum(n * p for n, p in zip(numeros, pesos))  # Suma de cada número multiplicado por su peso
suma_pesos = sum(pesos)  # Suma total de los pesos
promedio_ponderado = suma_ponderada / suma_pesos  # Dividir la suma ponderada entre la suma de los pesos

# Imprimir el resultado
print(f"El promedio ponderado es: {promedio_ponderado}")

El promedio ponderado es: 14.9

#Editando textos

In [66]:
#14 - Crea una variable llamada "frase" y asígnale una cadena de texto de tu elección. Luego, imprime la frase en pantalla.
texto = "Frase"
print(texto.upper())

FRASE

In [63]:
#15 - Crea un código que solicite una frase y luego imprima la frase en pantalla.
frase = input ("Ingrese una frase: ")
print(f"La frase es: {frase}")

Ingrese una frase: Ni chicha ni limonada
La frase es: Ni chicha ni limonada

In [64]:
#16 - Crea un código que solicite una frase al usuario y luego imprima la misma frase ingresada pero en mayúsculas.
frase = input ("Ingrese una frase: ")
print(f"La frase en mayusculas es: {frase.upper()}")

Ingrese una frase: Hola amiguitos!
La frase en mayusculas es: HOLA AMIGUITOS!

In [71]:
#17 - Crea un código que solicite una frase al usuario y luego imprima la misma frase ingresada pero en minúsculas.
frase = input ("Ingrese una frase: ")
print(f"La frase en minusculas es: {frase.lower()}")

Ingrese una frase: Hola como estan?
La frase en minusculas es: hola como estan?

In [72]:
#18-19 - Crea una variable llamada "frase" y asígnale una cadena de texto de tu elección. Luego, imprime la frase sin espacios en blanco al principio y al final.
# Crear la variable "frase" y asignarle una cadena de texto
frase = input("Ingresa la frase que deseas")

# Imprimir la frase sin espacios en blanco al principio y al final
print(f"La frase ingresada es:\n{frase.strip()}")

Ingresa la frase que deseasHola! ¿Como estan?
La frase ingresada es:
Hola! ¿Como estan?

In [73]:
#20 - Crea un código que solicite una frase al usuario y luego imprima la misma frase sin espacios en blanco al principio y al final, además de convertirla a minúsculas.
frase = input('Escribe una frase: ')
print(frase.strip().lower())

Escribe una frase: SE TU MISMO
se tu mismo

In [76]:
#21 - Crea un código que solicite una frase al usuario y luego imprima la misma frase con todas las vocales "e" reemplazadas por la letra "f".
frase = input('Escribe una frase: ')
print(frase.lower().replace('e','f'))

Escribe una frase: FELICIDAD DE FELIX
fflicidad df fflix

In [75]:
#22 - Crea un código que solicite una frase al usuario y luego imprima la misma frase con todas las vocales "a" reemplazadas por el carácter "@".
frase = input('Escribe una frase: ')
print(frase.lower().replace('a',chr(64)))

Escribe una frase: FELIZ DIA
feliz di@

In [77]:
#23 - Crea un código que solicite una frase al usuario y luego imprima la misma frase con todas las consonantes "s" reemplazadas por el carácter "$".
frase = input('Escribe una frase: ')
print(frase.lower().replace('s',chr(36)))

Escribe una frase: SIEMPRE AMIGOS!
$iempre amigo$!

#Estructuras condicionales

In [78]:
nombre_alumno = 'Fabricio Daniel'
calificacion_ingreso = 9.5
ano_ingreso= 2023
print('Nombre del alumno es {} \nCalificacion de Ingreso: {} \nEl año de ingreso es: {}.' .format(nombre_alumno, calificacion_ingreso, ano_ingreso))

Nombre del alumno es Fabricio Daniel
Calificacion de Ingreso: 9.5
El año de ingreso es: 2023.

* La calificacion de aprobacion es entre 7 y 10 == nota de aprobacion >=7
* La calificacion de reprobado es menor de 7 == nota de reprobacion < 7

#Condicional IF y ELSE

In [83]:
#Realizando el ejercicio:
calificacion_ingreso= float(input("Ingrese la calificacion del alumno:"))
if calificacion_ingreso >= 7:
  print("El alumno ha aprobado")
else:
  print("El alumno ha reprobado")

Ingrese la calificacion del alumno:6.9
El alumno ha reprobado

In [84]:
#Ejemplo de operadores relacionales
edad_maria = int(input('Ingrese la edad de María: '))
edad_beatriz = int(input('Ingrese la edad de Beatriz: '))

if edad_maria > edad_beatriz:
  print('María es mayor que Beatriz.')

Ingrese la edad de María: 20
Ingrese la edad de Beatriz: 18
María es mayor que Beatriz.

In [86]:
#Utilizando >= que
empleados_empresa_1 = int(input('Ingrese la cantidad de empleados de la empresa 1: '))
empleados_empresa_2 = int(input('Ingrese la cantidad de empleados de la empresa 2: '))

if empleados_empresa_1 >= empleados_empresa_2:
  print('La empresa 1 tiene una cantidad de empleados mayor o igual a la empresa 2.')

Ingrese la cantidad de empleados de la empresa 1: 640
Ingrese la cantidad de empleados de la empresa 2: 20
La empresa 1 tiene una cantidad de empleados mayor o igual a la empresa 2.

In [90]:
#igual
libro_1 = input('Ingrese el título del 1° libro: ')
libro_2 = input('Ingrese el título del 2° libro: ')

if libro_1 == libro_2:
  print('Los libros tienen el mismo título.')
else :
  print ('Los libros tienen títulos diferentes.')

Ingrese el título del 1° libro: La llorona
Ingrese el título del 2° libro: La zegua
Los libros tienen títulos diferentes.

In [91]:
#Diferente de !=
libro_1 = input('Ingrese el título del 1° libro: ')
libro_2 = input('Ingrese el título del 2° libro: ')

if libro_1 != libro_2:
  print('Los libros tienen títulos diferentes.')
else:
  print('Los libros tienen el mismo título.')

Ingrese el título del 1° libro: Hernan Cortez
Ingrese el título del 2° libro: Pedro Alvarado
Los libros tienen títulos diferentes.

#Condicion ELIF

In [94]:
calificacion = float(input('Ingrese la calificación del alumno: '))
if calificacion >= 9:
  print('Excelente')
elif calificacion >= 7:
  print('Buena')
elif calificacion >= 5:
  print('Regular')
else:
  print('Mala')

Ingrese la calificación del alumno: 6.8
Regular

#Operadores logicos integrados(AND, OR, NOT)

In [96]:
v = True
f = False
if v and f:
  print('La condicion es verdadera')
else:
  print('La condicion es falsa')

La condicion es falsa

In [98]:
if f or f:
  print('La condicion es verdadera')
else:
  print('La condicion es falsa')

La condicion es falsa

In [99]:
if  not f:
  print('La condicion es verdadera')
else:
  print('La condicion es falsa')

La condicion es verdadera

In [100]:
#Ejemplo practico:
lista = [
    "Ana Gómez",
    "Luis Martínez",
    "Sofía Rodríguez",
    "Carlos López",
    "Valeria Fernández",
    "Javier Pérez",
    "Camila Sánchez",
    "Daniel Díaz",
    "Lucía Torres",
    "Miguel Ramírez",
    "Isabella Flores",
    "Sebastián Vargas",
    "Mariana Silva",
    "Mateo Castro",
    "Paula Mendoza",
    "Álvaro Ríos",
    "Victoria Morales",
    "Nicolás Ortega",
    "Andrea Navarro",
    "Diego Herrera",
    "Emilia Medina",
    "Gabriel Guzmán",
    "Renata Paredes",
    "Tomás Acosta",
    "Jimena Aguirre",
    "Adrián Rojas",
    "Catalina Vázquez",
    "Santiago Núñez",
    "Elena Bravo",
    "Joaquín Cruz"
]
print("Lista cargada con exito!")

Lista cargada con exito!

In [104]:
#Necesitamos verificar dos nombres Camila Sánchez y Andrea Navas en la lista
nombre1 = "Camila Sánchez"
nombre2 = "Andrea Navas"
#validando si esta en nuestra lista
if nombre1 in lista:
  print(f"{nombre1} esta en la lista Aprobo")
else:
  print(f"{nombre1} no esta en la lista Reprobo")

Camila Sánchez esta en la lista

In [106]:
#Validando que no esta en nuestra lista
if nombre2 in lista:
  print(f"{nombre2} esta en la lista Aprobo")
else:
  print(f"{nombre2} no esta en la lista Reprobo")

Andrea Navas no esta en la lista Reprobo

#Desafio

In [107]:
#1 - Escribe un programa que pida a la persona usuaria que proporcione dos números y muestre el número más grande.
numero1 = int(input("Ingrese el primer numero: "))
numero2 = int(input("Ingrese el segundo numero: "))
if numero1 > numero2:
  print(f"El numero mayor es: {numero1}")
elif numero1<numero2:
  print(f"El numero mayor es: {numero2}")
else:
  print("Los numeros son iguales")

Ingrese el primer numero: 9
Ingrese el segundo numero: 8
El numero mayor es: 9

In [109]:
# Recolectamos el porcentaje
variación = float(input('Ingrese el porcentaje de crecimiento: '))
# Verificamos si el valor es positivo o negativo con una comparación para ver si el número
# es mayor o menor que 0
if variación > 0:
    print(f'Hubo un crecimiento del {variación}%')
elif variación < 0:
    print(f'Hubo un decrecimiento del {variación}%')
else:
    print('No hubo crecimiento ni decrecimiento.')

Ingrese el porcentaje de crecimiento: 9
Hubo un crecimiento del 9.0%

In [111]:
# Recolectamos la letra del usuario en minúsculas
letra = input('Ingrese una letra: ').lower()
vocales = 'aeiou' # cadena que contiene todas las vocales
# Verificamos si la letra está en las vocales con `in`
if letra in vocales:
    print('La letra es una vocal.')
else:
    print('La letra es una consonante.')

Ingrese una letra: A
La letra es una vocal.

In [113]:
# Recolectamos los precios de los 3 años
precio_ano1 = float(input('Ingrese el precio promedio del automóvil en el primer año: '))
precio_ano2 = float(input('Ingrese el precio promedio del automóvil en el segundo año: '))
precio_ano3 = float(input('Ingrese el precio promedio del automóvil en el tercer año: '))
# Determinamos el valor más alto mediante comparaciones
mayor = precio_ano1
if precio_ano2 > mayor:
  mayor = precio_ano2
if precio_ano3 > mayor:
  mayor = precio_ano3
# Determinamos el valor más bajo mediante comparaciones
menor = precio_ano1
if precio_ano2 < menor:
  menor = precio_ano2
if precio_ano3 < menor:
  menor = precio_ano3
# Mostramos los resultados
print(f'El precio más alto fue de USD $ {mayor}.')
print(f'El precio más bajo fue de USD $ {menor}.')

Ingrese el precio promedio del automóvil en el primer año: 3500
Ingrese el precio promedio del automóvil en el segundo año: 4800
Ingrese el precio promedio del automóvil en el tercer año: 6400
El precio más alto fue de USD $ 6400.0.
El precio más bajo fue de USD $ 3500.0.

In [114]:
# Recolectamos el precio de tres productos
producto1 = float(input('Ingrese el precio del primer producto: '))
producto2 = float(input('Ingrese el precio del segundo producto: '))
producto3 = float(input('Ingrese el precio del tercer producto: '))

# Usamos el operador lógico `and` para determinar cuál es el precio más bajo entre los 3 productos
# ya que esto nos permite hacer una comparación de 3 entradas
if producto1 < producto2 and producto1 < producto3:
    print('El primer producto es el más barato.')
elif producto2 < producto1 and producto2 < producto3:
    print('El segundo producto es el más barato.')
else:
    print('El tercer producto es el más barato.')

Ingrese el precio del primer producto: 8.50
Ingrese el precio del segundo producto: 9.45
Ingrese el precio del tercer producto: 3.80
El tercer producto es el más barato.

In [115]:
# Recolectamos los 3 números
num1 = int(input('Ingrese el primer número: '))
num2 = int(input('Ingrese el segundo número: '))
num3 = int(input('Ingrese el tercer número: '))

# Comparación entre los 3 números
if (num1 >= num2) and (num1 >= num3):
    print(num1)
    if num2 >= num3:
        print(num2)
        print(num3)
    else:
        print(num3)
        print(num2)
elif (num2 >= num1) and (num2 >= num3):
    print(num2)
    if num1 >= num3:
        print(num1)
        print(num3)
    else:
        print(num3)
        print(num1)
else:
    print(num3)
    if num1 >= num2:
        print(num1)
        print(num2)
    else:
        print(num2)
        print(num1)

Ingrese el primer número: 8
Ingrese el segundo número: 2
Ingrese el tercer número: 9
9
8
2

In [116]:
# Recolectamos el turno de estudio
turno = input('Ingresa en qué turno estudias (mañana, tarde o noche): ')

# Comparamos la entrada con todas las opciones y mostramos el resultado.
if turno == 'mañana':
  print('¡Buenos Días!')
elif turno == 'tarde':
  print('¡Buenas Tardes!')
elif turno == 'noche':
  print('¡Buenas Noches!')
else:
  print('¡Valor Inválido!')

Ingresa en qué turno estudias (mañana, tarde o noche): noche
¡Buenas Noches!

In [117]:
# Recolectamos los datos
num = int(input('Ingresa un número: '))

# Verificamos si el número es par según el resultado del módulo
if num % 2 == 0:
    print('El número es par.')
else:
    print('El número es impar.')

Ingresa un número: 8
El número es par.

In [120]:
# Recolectamos los datos
# Recolectamos los datos
num = float(input('Ingresa un número: '))
# Verificamos si el número es entero o decimal según el resultado del módulo
if num % 1 == 0:
    print('El número es entero.')
else:
    print('El número es decimal.')

Ingresa un número: 2.5
El número es decimal.

In [123]:
# Recolectamos los números a operar y solicitamos la operación deseada por el usuario
num1 = float(input('Ingrese el primer número: '))
num2 = float(input('Ingrese el segundo número: '))
operación = input('Ingrese la operación deseada (+, -, *, /): ')

# Verificamos la operación seleccionada y realizamos la operación matemática según la elección
if operación == '+':
    resultado = num1 + num2
elif operación == '-':
    resultado = num1 - num2
elif operación == '*':
    resultado = num1 * num2
elif operación == '/':
    resultado = num1 / num2
else: # Especificamos un resultado en caso de que el usuario no ingrese una de las operaciones correctamente.
    print('Operación no válida, el resultado de la operación será 0')
    resultado = 0

# Realizamos las mismas verificaciones que en preguntas anteriores para generar el informe del cálculo entre números
if resultado % 1 == 0:
    print('El resultado es un número entero.')
else:
    print('El resultado es un número decimal.')

if resultado > 0:
    print('El resultado es positivo.')
else:
    print('El resultado es negativo.')

if resultado % 2 == 0:
    print('El resultado es un número par.')
else:
    print('El resultado es un número impar.')

Ingrese el primer número: 20
Ingrese el segundo número: 10
Ingrese la operación deseada (+, -, *, /): +
El resultado es un número entero.
El resultado es positivo.
El resultado es un número par.

In [124]:
# Recolectamos los lados de un triángulo
print('Estamos recopilando los lados de un triángulo.')
lado1 = float(input('Ingresa la longitud del primer lado: '))
lado2 = float(input('Ingresa la longitud del segundo lado: '))
lado3 = float(input('Ingresa la longitud del tercer lado: '))

# Verificamos si los lados pueden formar un triángulo
if (lado1 + lado2 > lado3) and (lado2 + lado3 > lado1) and (lado1 + lado3 > lado2):
    print('¡Los valores pueden formar un triángulo!')
    # Comparamos los lados para determinar el tipo de triángulo
    if (lado1 == lado2) and (lado2 == lado3):
        print('El triángulo es equilátero.')
    elif (lado1 != lado2) and (lado2 != lado3) and (lado1 != lado3):
        print('El triángulo es escaleno.')
    else:
        print('El triángulo es isósceles.')
else:
    print('¡Los valores no pueden formar un triángulo!')

Estamos recopilando los lados de un triángulo.
Ingresa la longitud del primer lado: 10
Ingresa la longitud del segundo lado: 4
Ingresa la longitud del tercer lado: 3
¡Los valores no pueden formar un triángulo!

In [126]:
# Recolectamos la cantidad de litros y el tipo de combustible,
# convirtiendo el carácter en mayúsculas para facilitar nuestro análisis
cantidad_litros = float(input('Ingrese la cantidad de litros vendidos: '))
tipo_combustible = input('Ingrese el tipo de combustible (E para etanol y D para diésel): ').upper()

# Verificamos primero el tipo de combustible
if tipo_combustible == 'E':
  # Establecemos el precio por litro de etanol
  precio_litro = 1.70
  # Según la cantidad de litros, establecemos el descuento correspondiente
  if cantidad_litros <= 15:
    descuento = 0.02
  else:
    descuento = 0.04
elif tipo_combustible == 'D':
  # Establecemos el precio por litro de diésel
  precio_litro = 2.00
  # Según la cantidad de litros, establecemos el descuento correspondiente
  if cantidad_litros <= 15:
    descuento = 0.03
  else:
    descuento = 0.05
# En caso de error en la especificación del tipo de combustible,
# consideramos las entradas como no válidas y establecemos los precios y descuentos en 0
else:
    print('Entradas no válidas!')
    precio_litro = 0
    descuento = 0

# Calculamos el valor del descuento, seguido del cálculo del precio descontado
valor_descuento = precio_litro * cantidad_litros * descuento
valor_pagado = precio_litro * cantidad_litros - valor_descuento

# Resultado
print(f'Valor a pagar por el cliente: USD $ {valor_pagado}')

Ingrese la cantidad de litros vendidos: 780
Ingrese el tipo de combustible (E para etanol y D para diésel): D
Valor a pagar por el cliente: USD $ 1482.0

In [127]:
# Recolectamos las ventas de los dos años
venta_2023 = float(input('Ingrese la cantidad de ventas en 2023: '))
venta_2024 = float(input('Ingrese la cantidad de ventas en 2024: '))

# Calculamos la variación porcentual entre las ventas de los años 2023 y 2024
var_porcentual = 100 * (venta_2024 - venta_2023) / (venta_2023)

# Análisis condicional de la variación porcentual para determinar la sugerencia a enviar
if var_porcentual > 20:
    print('Bonificación para el equipo de ventas.')
elif 2 <= var_porcentual <= 20:
    print('Pequeña bonificación para el equipo de ventas.')
elif -10 <= var_porcentual < 2:
    print('Planificación de políticas de incentivo a las ventas.')
else:
    print('Recorte de gastos.')

Ingrese la cantidad de ventas en 2023: 18500
Ingrese la cantidad de ventas en 2024: 19800
Pequeña bonificación para el equipo de ventas.